.annotation-delayed-modal .modal-content {
    border: none;
    border-radius: 0;
}
.app .modal.annotation-delayed-modal .modal-content,
.app .modal.annotation-delayed-modal .modal-content .modal-body {
    background-color: #ebebeb;
    border: none;
}
.dark .app .modal.annotation-delayed-modal .modal-content,
.dark .app .modal.annotation-delayed-modal .modal-content .modal-body {
    background-color: #333;
    color: #d3d3d3;
}

.annotation-delayed-modal .modal-content .modal-header {
    padding-top: 10px;
}

.annotation-delayed-modal .modal-title {
    direction: rtl;
    display: flex;
}

.app .modal.annotation-delayed-modal .modal-header {
    border-bottom: 0;
}

.english .annotation-delayed-modal .modal-title {
    direction: ltr;
}
.annotation-delayed-modal .annotation-delayed-icon {
    width: 36px;
    height: 24px;
    border-radius: 6px;
    background-color: #FFF4E2;
}

.annotation-delayed-modal .modal-body {
    padding-top: 0;
    border: 1px solid white;
    border-top: 0;
    text-align: right;
}

.english .annotation-delayed-modal .modal-body {
    text-align: left;
}

.annotation-delayed-modal .modal-body .annotation-delayed-info {
    margin-right: 47px;
    font-size: 13px;
}

.annotation-delayed-modal .modal-body .annotation-delayed-info div {
    margin-bottom: 10px;
}


.annotation-delayed-modal .annotation-delayed-title {
    color: orange;
    font-size: 13px;
    font-family: 'DroidSansArabic';
    margin-right: 20px;
    margin-top: 5px;
}

.english .annotation-delayed-modal .annotation-delayed-icon {
    width: 44px;
    height: 23px
}

.mobile .annotation-delayed-modal .annotation-delayed-icon {
    width: 28px;
    height: 28px;
}

.dark .annotation-delayed-modal .annotation-delayed-icon {
    background-color: #db871466;
}
