<div bsModal #annotationDelayedModal="bs-modal" class="modal fade annotation-delayed-modal centered" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" (click)="annotationDelayedModal.hide()"><span>&times;</span>
                </button>
                <div class="modal-title">
                    <div class="annotation-delayed-icon"></div>
                    <div class="annotation-delayed-title" i18n="@@annotation-delayed-modal-delayedData">البيانات متأخرة</div>
                </div>
            </div>
            <div class="modal-body">
                <div class="annotation-delayed-info" *ngIf="appModeAllowedFeature(appModeFeatureType.DERAYAH_ANNOTATION_DELAYED_MESSAGE)">
                    <div *ngIf="!isChart">{{getDerayahAnnotationDelayedText()}}</div>
                    <div *ngIf="isChart" i18n="@@annotation-delayed-modal_derayahChartDelayedPrices">الأسعار على هذا الرسم البياني متأخرة.</div>

                    <div class="annotation-delayed-derayah" i18n="@@annotation-delayed-modal_derayahDelayedData">يرجى التواصل مع دراية المالية للحصول على البيانات اللحظية.</div>
                </div>

                <div *ngIf="!appModeAllowedFeature(appModeFeatureType.DERAYAH_ANNOTATION_DELAYED_MESSAGE)" class="annotation-delayed-info">
                    <div *ngIf="!isChart">{{getAnnotationDelayedText()}}</div>
                    <div *ngIf="isChart">{{getAnnotationDelayedChartText()}}</div>
                    <a target="_blank" href="https://www.tickerchart.com/ar/live/buy" i18n="@@annotation-delayed-modal_subscribeToRealTimeData">اشترك بالبيانات اللحظية</a>
                </div>

            </div>
        </div>
    </div>
</div>
