.window-toolbar {
    width: 40px;
    position:relative;
}


/* window-toolbar icon style */

.window-toolbar .windows .icon.icon-bg-color,
.window-toolbar .tools .icon.icon-bg-color {
    position: relative;
    background-color: #f1f3f6;
    width: 40px;
    height: 45px;
    cursor: pointer;
    border-bottom: 1px solid #CCC;
}

.window-toolbar .windows .icon.icon-bg-color:before,
.window-toolbar .tools .icon.icon-bg-color:before{
    content:"";
    display:inline-block;
    width: 40px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.window-toolbar .windows .icon.icon-bg-color.inactive:before,
.window-toolbar .tools .icon.icon-bg-color.inactive:before{
    opacity: 0.3;
}

.window-toolbar .windows .icon.icon-bg-color:hover {
    background-color: white;
}

.window-toolbar .windows .icon.icon-bg-color.borderless {
    border-bottom: 0px;
}

.window-toolbar .icon .lock-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    /*background-image: url('~img/chart-technical-drawings-Lock-active.png');*/
    background-size: contain;
}

.english .window-toolbar .icon .lock-icon {
    left: 20px;
}

/*!* window-toolbar icons *!*/
/*.window-toolbar .marketwatch:before {*/
/*    background-image: url('~img/window-watchlist.png');*/
/*}*/
/*.window-toolbar .index-analysis:before {*/
/*    background-image: url('~img/index-analysis.png');*/
/*}*/
/*.window-toolbar .chart:before {*/
/*    background-image: url('~img/window-tools-chart.png');*/
/*}*/
/*.window-toolbar .detailed-quote:before {*/
/*    background-image: url('~img/window-add-detail-quote.png');*/
/*}*/
/*.window-toolbar .time-and-sale:before {*/
/*    background-image: url('~img/window-add-time-and-sale.png');*/
/*}*/

/*.window-toolbar .trades-summary:before {*/
/*    background-image: url('~img/window-tools-trades-summary.png');*/
/*}*/

/*.window-toolbar .market-depth-by-price:before {*/
/*    background-image: url('~img/window-add-market-depth-grouped.png');*/
/*}*/
/*.window-toolbar .market-depth-by-order:before {*/
/*    background-image: url('~img/window-add-market-depth.png');*/
/*}*/
/*.window-toolbar .announcement:before {*/
/*    background-image: url('~img/window-add-news.png');*/
/*}*/
/*.window-toolbar .market-trades:before {*/
/*    background-image: url('~img/window-tools-market-trades.png');*/
/*}*/
/*.window-toolbar .technical-scope:before {*/
/*    background-image: url('~img/window-technical-scope.png');*/
/*}*/
/*.window-toolbar .market-movers:before {*/
/*    background-image: url('~img/window-market-movers.png');*/
/*}*/
/*.window-toolbar .market-alerts:before {*/
/*    background-image: url('~img/window-tools-market-alarms.png');*/
/*}*/
/*.window-toolbar .large-trades:before {*/
/*    background-image: url('~img/window-tools-large-trades.png');*/
/*}*/
/*.window-toolbar .watchlist:before {*/
/*    background-image: url('~img/window-watchlist-settings.png');*/
/*}*/

/*.window-toolbar .alert-icon:before {*/
/*    background-image: url('~img/tools-alerts.png');*/
/*}*/

/*.window-toolbar .filter-icon:before {*/
/*    background-image: url('~img/tools_filter.png');*/
/*}*/

/*.window-toolbar .market-pre-open:before {*/
/*    background-image: url('~img/window-add-pre-open.png');*/
/*}*/

/*.window-toolbar .analysis-center:before {*/
/*    background-image: url('~img/window-add-analysis-center.png');*/
/*}*/

/*  .window-toolbar .shareholders:before {*/
/*      background-image: url('~img/window-major-shareholder.png');*/
/*  }*/

/*  .window-toolbar .financial-data:before {*/
/*      background-image: url('~img/financial-reports.png');*/
/*  }*/

/*.window-toolbar .trading-positions:before {*/
/*    background-image: url('~img/trading/portfolio.png');*/
/*}*/

/*.window-toolbar .trading-account:before {*/
/*    background-image: url('~img/trading/balance.png');*/
/*}*/

/*.window-toolbar .trading-transfer-money:before {*/
/*    background-image: url('~img/trading/transfer-money.png');*/
/*}*/

/*.window-toolbar .trading-orders:before {*/
/*    background-image: url('~img/trading/orders.png');*/
/*}*/

/*.window-toolbar .trading-settings:before {*/
/*    background-image: url('~img/trading/settings.png');*/
/*}*/

/*.english .window-toolbar .trading-orders{*/
/*    transform: scaleX(-1);*/
/*}*/

/*.window-toolbar .trading-floating-bar:before {*/
/*    background-image: url('~img/trading/navigation-toolbar.png');*/
/*}*/

/*.window-toolbar .community-ideas:before {*/
/*    background: url('~img/community-ideas-light.png') no-repeat center;*/
/*}*/

/*.window-toolbar .community-notifications:before {*/
/*    background: url('~img/community-notifications-light.png')  no-repeat center;*/
/*}*/

/*.window-toolbar .community-my-ideas:before {*/
/*    background: url('~img/community-my-ideas-light.png') no-repeat center;*/
/*}*/

/*.window-toolbar .community-ideas.focus:before {*/
/*    background: url('~img/community-ideas-focus.png')  no-repeat center;*/
/*}*/

/*.window-toolbar .community-notifications.focus:before {*/
/*    background: url('~img/community-notifications-focus.png')  no-repeat center;*/
/*}*/

/*.window-toolbar .community-my-ideas.focus:before {*/
/*    background: url('~img/community-my-ideas-focus.png')  no-repeat center;*/
/*}*/

/* window-toolbar > window-toolbar-separator */

.window-toolbar .window-toolbar-separator {
    font-size: 1.0rem;
    height: 30px;
    line-height: 30px;
    background-color: #f1f3f6;
    border-bottom: 1px solid dimgrey;
    border-top: 1px solid dimgrey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.window-toolbar .window-toolbar-separator:first-child {
    border-top: 0px;
}


/* window-toolbar tools coloring */

.window-toolbar .tools-btn,
.window-toolbar .tools > .icon.icon-bg-color
{
    background-color: lemonchiffon;
}

/* window-toolbar tools/windows animations */
.window-toolbar .market-windows-btn.collapsed,
.window-toolbar .company-windows-btn.collapsed,
.window-toolbar .trading-windows-btn.collapsed,
.window-toolbar .tools-btn.collapsed ,
.window-toolbar .community-btn.collapsed {
    cursor: pointer;
}

.window-toolbar .market-windows-btn.collapsed,
.window-toolbar .company-windows-btn.collapsed,
.window-toolbar .trading-windows-btn.collapsed,
.window-toolbar .community-btn.collapsed {
    border-bottom:none;
}

.window-toolbar .tools,
.window-toolbar .market-windows,
.window-toolbar .trading-windows,
.window-toolbar .company-windows ,
.window-toolbar .community-windows {
    overflow: hidden;
}

/*community*/
.window-toolbar .community-windows .icon-with-counter {
    display: flex;
    cursor: pointer;
}

.window-toolbar .community-windows .icon-with-counter .notifications-counter {
    position: absolute;
    background-color: #FF6A00;
    color: #fff;
    border-radius: 50%;
    margin: 1px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 1.1rem;
}

.english .window-toolbar .community-windows .icon-with-counter .notifications-counter {
    margin-left: 18px;
}

.window-toolbar .community-btn.collapsed.has-notifications {
    animation: star-change 1s infinite;
    background-repeat: no-repeat;
}

.english .window-toolbar .community-btn.collapsed.has-notifications {
    background-position: top right;
}

/*@keyframes star-change {*/
/*    0% {  background-image: url('~img/star.png') }*/
/*    50% {  background-image: url('~img/star.png') }*/
/*    100% { background-image: none; }*/
/*}*/

/* dynamic-dropdown */

.window-toolbar .dynamic-dropdown-menu-icon:before {
    height:100%;
    /*background-image: url('~img/dynamic-menu-dots-24x24.png');*/
}

.window-toolbar .windows .dynamic-dropdown .dynamic-dropdown-menu-elements{
    margin-right: 42px;
    margin-top: -40px;
}

/* font family */
.arabic .window-toolbar .window-toolbar-separator {
    font-family: DroidArabicKufi-Bold;
}

.english .window-toolbar .window-toolbar-separator {
    font-family: Tahoma Black;
}


/* dark theme */
.dark .window-toolbar .windows .icon.icon-bg-color,
.dark .window-toolbar .tools .icon.icon-bg-color {
    background-color: #111;
    border-bottom-color: #666;
}

.dark .window-toolbar .windows .icon.icon-bg-color:hover {
    background-color: #000;
}

.dark .window-toolbar .window-toolbar-separator {
    background-color: #444;
    color: white;
}

.dark .window-toolbar .window-toolbar-separator.collapsed:hover {
    color: #fc0;
}

.dark .window-toolbar .tools-btn,
.dark .window-toolbar .tools > .icon.icon-bg-color {
    background-color: #4c432a;
}

.dark .window-toolbar .trading-floating-bar:before {
    filter: none;
    /*background-image: url('~img/trading/navigation-toolbar-dark.png');*/
}


.dark .window-toolbar .community-btn.collapsed.has-notifications {
    animation: dark-star-change 1s infinite;
    background-repeat: no-repeat;
}

/*.dark .window-toolbar .community-ideas.focus:before {*/
/*    background: url('~img/community-ideas-focus.png')  no-repeat center;*/
/*}*/

/*.dark .window-toolbar .community-notifications.focus:before {*/
/*    background: url('~img/community-notifications-focus.png')  no-repeat center;*/
/*}*/

/*.dark .window-toolbar .community-my-ideas.focus:before {*/
/*    background: url('~img/community-my-ideas-focus.png')  no-repeat center;*/
/*}*/

/*@keyframes dark-star-change {*/
/*    0% {  background-image: url('~img/star.png') }*/
/*    50% {  background-image: url('~img/star.png') }*/
/*    100% { background-image: none; }*/
/*}*/
