<div bsModal #loaderMessageModal="bs-modal" class="modal fade loader-message" tabindex="-1" role="dialog" [config]="{backdrop:'static'}">
    <div class="modal-dialog" *ngIf="selectedSimpleMessage || selectedAdvanceMessage">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>

            <div class="modal-body">

                <div *ngIf="selectedSimpleMessage">

                    <div class="message-line">{{selectedSimpleMessage.body}}</div>

                    <div class="modal-btns">
                        <button class="btn btn-success" (click)="onCloseModal()" i18n="@@loader-message_close">إغلاق</button>
                    </div>
                </div>

                <div *ngIf="selectedAdvanceMessage">
                    <div class="message-line">{{selectedAdvanceMessage.body}}</div>

                    <div class="modal-btns">
                        <a href="{{selectedAdvanceMessage.url}}" target="_blank" class="btn btn-success">{{selectedAdvanceMessage.button}}</a>
                        <button class="btn btn-warning" (click)="onCloseModal()" i18n="@@loader-message_close">إغلاق</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
