<div bsModal #UnsupportedAlertMessageModal="bs-modal" class="modal fade unsupported-alert-message" tabindex="-1" role="dialog" [config]="{backdrop:'static'}">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" i18n="@@unsupported-alert-message_tickerchartAlert">تنبيه من تكرتشارت</h4>
            </div>

            <div class="modal-body">
                <div class="unsupported-alert-message-content">
                    <div class="title" i18n="@@unsupported-alert-message_alertSettings">إعدادات التنبيه</div>

                    <div i18n="@@unsupported-alert-message_thisIntervalIsNotSupported">التنبيه لا يدعم هذا الفاصل</div>
                    <div i18n="@@unsupported-alert-message_chooseInterval">يرجى اختيار فاصل من الفواصل التاليه ثم المحاوله مره أخرى :</div>

                    <div class="interval-options">
                        <ul>
                            <li i18n="@@unsupported-alert-message_oneMin">دقيقة</li>
                            <li i18n="@@unsupported-alert-message_fifteenMin">15 دقيقة</li>
                            <li i18n="@@unsupported-alert-message_hour">ساعة</li>
                            <li i18n="@@unsupported-alert-message_day">يوم</li>
                            <li i18n="@@unsupported-alert-message_month"> شهر</li>
                        </ul>

                        <ul>
                            <li i18n="@@unsupported-alert-message_fiveMin">5 دقائق</li>
                            <li i18n="@@unsupported-alert-message_thirtyMin">30 دقيقة</li>
                            <li i18n="@@unsupported-alert-message_4hours">4 ساعات</li>
                            <li i18n="@@unsupported-alert-message_week">أسبوع</li>
                        </ul>
                    </div>
                </div>

                <div class="modal-btns">
                    <button class="btn btn-success" (click)="onClose()" i18n="@@unsupported-alert-message_close">إغلاق</button>
                </div>

            </div>
        </div>
    </div>
</div>
