.symbol-selector {
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 3px;
    font-size: 1.3rem;
    height: 24px;
    padding: 0px 5px;
    border-color: var(--button-border-color-hover);
    background-color: var(--button-back-color-hover);
    display: flex;
    height: 24px;
}

.arabic .symbol-selector{
    direction: rtl;
}

.english .symbol-selector{
    direction: ltr;
}

.arabic .symbol-selector .search-icon {
    background-position: right;
    margin: 3px 3px 0 5px;
}

.english .symbol-selector .search-icon {
    background-position: left;
    margin: 3px 5px 0 3px;
}

.symbol-selector .search-icon {
    width: 16px;
    height: 16px;
    line-height: 24px;
}

.symbol-selector .search-icon:before {
    background-image: url('~img/mareketwatch-toolbar-search.png');
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
}

.arabic .app .symbol-selector.typeahead input {
    border-right: 1px solid var(--button-border-color-hover);
    padding-right: 3px;
}

.english .app .symbol-selector.typeahead input {
    border-left: 1px solid var(--button-border-color-hover);
    padding-left: 3px;
}

.app .symbol-selector.typeahead {
    margin-right: 10px;
    margin-left: 10px;
}


/* dark theme */

.dark .app .symbol-selector.typeahead {
    border-color: #666;
    background-color: #111;
}

.dark .app .symbol-selector.typeahead input {
    background-color: #111;
}

.dark.arabic .app .symbol-selector.typeahead input,
.dark.english .app .symbol-selector.typeahead input {
    border-color: #666;
}

.dark .app form .symbol-selector.typeahead input {
    background-color: #111;
}
