.arabic .password-field-wrapper {
    direction: ltr;
}

.arabic .password-field-wrapper input {
    direction: rtl;
    border-left: 0;
}

.english .password-field-wrapper input {
    direction: ltr;
    border-right: 0;
}

.password-field-wrapper.input-group .input-group-btn {
    vertical-align: top;
}

.password-field-wrapper.input-group .input-group-btn .visibility-btn {
    width: 35px;
    min-width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    height:30px;
    background-color: #428bca;
}

.arabic .password-field-wrapper.input-group .input-group-btn .visibility-btn {
    border-radius: 5px 0px 0px 5px;
}

.english .password-field-wrapper.input-group .input-group-btn .visibility-btn {
    border-radius: 0px 5px 5px 0px;
}

.password-field-wrapper.input-group .input-group-btn > .visibility-btn:before {
    content: "";
    display: inline-block;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
}

.password-field-wrapper.input-group .input-group-btn > .visibility-btn.invisible-password:before {
    /*background-image: url('~img/eye-visible.png');*/
}

.password-field-wrapper.input-group .input-group-btn > .visibility-btn.visible-password:before {
    /*background-image: url('~img/eye-invisible.png');*/
}


/* dark theme */
.dark .password-field-wrapper.input-group .input-group-btn > .visibility-btn.invisible-password:before,
.dark .password-field-wrapper.input-group .input-group-btn > .visibility-btn.visible-password:before {
    filter: none;
}

.dark .password-field-wrapper.input-group .input-group-btn .visibility-btn {
    opacity: 0.9;
}
