.workspace-select .modal-dialog {
    width: 900px;
}

.workspace-select .modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.workspace-select .modal-body .force-selection-note {
    padding: 10px 30px;
    line-height: 3rem;
    color: black;
    font-size: 1.5rem;
}

/* form-group */

.app .workspace-select .form-group-container {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
}

.workspace-select .form-group-container.my-workspace {
    background-color: floralwhite;
}

.app .workspace-select .form-group-container .form-group {
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

/* lock note */
.workspace-select .form-group-container .lock-note {
    color: #481da7;
    font-size: 1.0rem;
    padding-right: 10px;
    padding-left: 10px;
}


/* default settings */

.workspace-select .form-group-container .form-group .default-settings {
    text-align: center;
}

.workspace-select .form-group-container .form-group .default-settings .label {
    background-color: sienna;
}

.workspace-select .form-group-container .form-group .default-settings a {
    font-size: 1rem;
}

.english .workspace-select .form-group-container .form-group .default-settings a {
    font-size: 1.1rem;
}

.workspace-select .form-group-container .form-group .default-settings a:hover {
    cursor: pointer;
}


/* update column */

.workspace-select .form-group .update-column {
    font-size: 1.2rem;
}

/* action-column */

.workspace-select .form-group-container .form-group .action-column {
    display: flex;
}

.workspace-select .form-group-container .form-group .action-column > * {
    display: inline-block;
}

.workspace-select .form-group-container .form-group .action-column .action-width {
    width: 180px;
}

.workspace-select .form-group-container .form-group .action-column .loaded {
    text-align: center;
    color: brown;
}

.workspace-select .form-group-container .form-group .action-column .btn-delete {
    min-width: 60px;
    margin-right: 15px;
}

.english .workspace-select .form-group-container .form-group .action-column .btn-delete {
    margin-right: 0px;
    margin-left: 15px;
}

/* workspace-add*/

.workspace-select .workspace-add {
    background-color: #cee8c7;
}


/* btn-save-workspace */

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace {
    color: #000;
    display: inline-flex;
}

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace:hover {
    color: #2c4fb6;
    cursor: pointer;
}

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace .icon {
    padding: 0px 5px;
}

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace .icon:before {
    content: "";
    width: 24px;
    height: 22px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace .icon.icon-save-workspace:before {
    background-image: url('~img/cloud-save2.png');
}

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace:hover .icon.icon-save-workspace:before {
    background-image: url('~img/cloud-save.png');
}

@keyframes cloud-uploading-animation {
    0% {background-position:0px 0px;}
    16.67% {background-position:0px -22px;}
    33.33% {background-position:0px -44px;}
    50% {background-position:0px -66px;}
    66.67% {background-position:0px -88px;}
    83.33%, 100% {background-position:0px -110px;}
}

.workspace-select .form-group-container .form-group .action-column .btn-save-workspace .icon.icon-save-workspace.saving:before {
    background-image: url('~img/cloud-uploading.png');
    width:24px;
    height:22px;
    animation: cloud-uploading-animation 1.5s infinite steps(1);
}

/* footer */

.workspace-select .footer-row {
    margin-top: 15px;
}

/* bold-text */

.workspace-select .bold-text {
    font-family: DroidArabicKufi-Bold;
}

.english .workspace-select .bold-text {
    font-family: Arial;
    font-weight: bold;
}

/* dark theme */

.dark .workspace-select .modal-body .force-selection-note {
    color: floralwhite;
}

.dark .workspace-select .workspace-add {
    background-color: darkslategrey;
}

.dark .workspace-select .form-group-container .lock-note {
    color: #d4c6f3;
}

.dark .workspace-select .form-group-container .form-group .action-column .loaded {
    color: gainsboro;
}

.dark .workspace-select .form-group-container .form-group .action-column .btn-save-workspace {
    color: gainsboro;
}

.dark .workspace-select .form-group-container .form-group .action-column .btn-save-workspace:hover {
    color: #d3b048;
}

.dark .workspace-select .form-group-container .form-group .default-settings .label {
    background-color: peru;
}

.dark .workspace-select .form-group-container.my-workspace {
    background-color: #333;
}
