.trading-context-menu{
    padding:0;
}

.trading-context-menu li.menuitem.open-trading-buy:before {
    /*background-image: url('~img/trading/buy.png');*/
}

.trading-context-menu li.menuitem.open-trading-sell:before {
    /*background-image: url('~img/trading/sell.png');*/
}

.trading-context-menu li.menuitem.inactive{
    cursor: not-allowed;
    opacity: 0.6;
}

.arabic .trading-context-menu li.menuitem > div {
    margin-right: 10px;
}

.english .trading-context-menu li.menuitem > div {
    margin-left: 10px;
}


/* dark theme */

.dark .trading-context-menu li.menuitem.open-trading-buy:before {
    /*background: url('~img/trading/buy-dark.png') no-repeat center;*/
    filter: none;
}

.dark .trading-context-menu li.menuitem.open-trading-sell:before {
    /*background: url('~img/trading/sell-dark.png') no-repeat center;*/
    filter: none;
}
