.pagination {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.pagination .last-pages {
    padding: 5px 10px;
    border-bottom: 5px solid #989898;
    font-family: DroidArabicKufi-Bold;
}

.pagination div.english {
    padding: 5px 0;
    border-bottom: 5px solid #989898;
    color: #989898;
    min-width: 43px;
    cursor: pointer;
}

.pagination > div.english:hover {
    border-color: #545454;
    color: #545454;
}

.pagination > div.english.active,
.pagination > div.english.active:hover{
    border-color:#000000;
    color:#000000;
}

.pagination  div.english.show-more {
    padding: 5px 10px;
}

/*dark theme*/
.dark .pagination .last-pages {
    color: #ABABAB;
    border-color: #676767;
}

.dark .pagination  div.english {
    border-color:#676767;
    color:#676767;
}

.dark .pagination > div.english.active,
.dark .pagination > div.english.active:hover {
    border-color:#CCCCCC;
    color:#CCCCCC;
}

.dark .pagination > div.english:hover {
    border-color: #ABABAB;
    color: #ABABAB;
}
