/* Loading mask for TickerChart and Derayah apps */
.tickerchart .loading-app,
.derayah .loading-app,
.derayah .derayah-loading-container {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile .loading-app img {
  transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
}

.tickerchart .loading-app {
  background-color: black;
}

.dark.derayah .loading-app {
  background-color: #fff;
  height: 100%;
}

.tickerchart .loading-app .tickerchart-loading-container .tickerchart-logo {
  margin-top: 20px;
}

.tickerchart .derayah-loading-container {
  display: none;
}

.derayah .derayah-loading-container {
  flex-direction: column;
  padding-bottom: 100px;
}

.derayah.mobile .loading-app .derayah-loading-container {
  flex-direction: column;
}

.derayah .tickerchart-loading-container {
  display: none;
}

.derayah .derayah-loading-container .derayah-loading-img {
  width: 170px;
  height: 185px;
}

.derayah .derayah-loading-container .derayah-loading-img img {
  width: 170px;
}

.derayah.mobile .loading-app .derayah-loading-container .derayah-loading-img {
  width: auto;
  height: 180px;
}

.derayah .derayah-loading-container .powered-by-tickerchart {
  position: absolute;
  bottom: 8%;
}
