<div *ngIf="visible" class="mobile-more-pages"  [style.left]="getMenuLeftPosition()">
    <div class="mobile-more-pages-container iphone-allow-scrolling">
        <div class="tabs">
            <div *ngFor="let page of morePages">
                <div *ngIf="showTab(page)" class="tab"  (click)="onSelectPage(page)" [class.focus]="page == getSelectedPage()" [class.inactive]="isUnauthorized(page)">
                    <div class="page-icon {{getIconClassName(page)}}">
                        <span *ngIf="isUnauthorized(page)" class="lock-icon"></span>
                    </div>
                    <div class="page-name">{{page.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
