.mobile-more-pages {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 190px;
    bottom: 60px;
    z-index: 10000;
    left: 10px;
}

.mobile-more-pages .page-icon .lock-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 11px;
    height: 11px;
    background-image: url('~img/chart-technical-drawings-Lock-active.png');
    background-size: contain;
}

.tablet .mobile-more-pages {
    bottom: 40px;
}

.mobile-more-pages .mobile-more-pages-container {
    width: 96%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 25px #888;
    max-height: 330px;
    overflow: scroll;
}

.mobile-more-pages .tabs {
    display: flex;
    flex-flow: wrap;
    flex-direction: row-reverse;
    margin: 10px 0;
}

.mobile-more-pages .tabs .tab {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    font-family: DroidArabicKufi-Bold;
}

.mobile-more-pages .tabs .tab.clicked .page-icon {
    z-index: 1;
}

.mobile-more-pages .tabs .tab.clicked {
    position: relative;
}

.mobile-more-pages .tabs .tab.clicked:after {
    content: " ";
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    border-top-left-radius: 111px 195px;
    border-bottom-left-radius: 111px 195px;
    border-top-right-radius: 111px 195px;
    border-bottom-right-radius: 111px 195px;
    animation: changeBackground 0.5s;
    animation-delay: 0s;
    background-color: #428bca;
    opacity: 0.2;
}

.mobile-more-pages .tabs .tab.focus .page-name {
    color: #4695ce;
}

.mobile-more-pages .tabs .tab.inactive .page-name {
    opacity: 0.5;
}

.mobile-more-pages .tabs .tab .page-icon {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.mobile-more-pages .tabs .tab .page-icon:before {
    content:"";
    display:inline-block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-more-pages .tabs .tab .page-name {
    font-family:DroidArabicKufi-Bold;;
    font-size: 1rem;
    margin-right: 5px;
}

.mobile-more-pages .tabs .tab.inactive .page-icon:before{
    opacity: 0.3;
}

.mobile-more-pages .tabs .tab .page-icon.market-movers:before{
    background-image: url('~img/market-movers.png');
}

.mobile-more-pages .tab.focus .page-icon.market-movers:before{
    background-image: url('~img/focus-market-movers.png');
}

.mobile-more-pages .tabs .tab .page-icon.index-analysis:before{
    background-image: url('~img/index-analysis.png');
}

.mobile-more-pages .tab.focus .page-icon.index-analysis:before{
    background-image: url('~img/index-analysis.png');
}

.mobile-more-pages .tabs .tab .page-icon.auction:before {
    background-image: url('~img/mobile-pre-open-tab.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.auction:before {
    background-image: url('~img/focus-mobile-pre-open.png');
}

.mobile-more-pages .tabs .tab .page-icon.big-trades:before {
    background-image: url('~img/mobile-big-trades.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.big-trades:before {
    background-image: url('~img/focus-mobile-big-trades.png');
}

.mobile-more-pages .tabs .tab .page-icon.market-alerts:before {
    background-image: url('~img/mobile-market-alert.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.market-alerts:before {
    background-image: url('~img/focus-mobile-market-alert.png');
}

.mobile-more-pages .tabs .tab .page-icon.technical-scope:before {
    background-image: url('~img/mobile-technical-scope.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.technical-scope:before {
    background-image: url('~img/focus-mobile-technical-scope.png');
}

.mobile-more-pages .tabs .tab .page-icon.financial-data:before {
    background-image: url('~img/financial-reports.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.financial-data:before {
    background-image: url('~img/focus-financial-report.png');
}

.mobile-more-pages .tabs .tab .page-icon.account-balance:before {
    background-image: url('~img/trading/balance.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.account-balance:before {
    background-image: url('~img/trading/focus-mobile-trading-tab.png');
}

.mobile-more-pages .tabs .tab .page-icon.trading:before {
    background-image: url('~img/trading/mobile-trading-tab.png');
}

.mobile-more-pages .tabs .tab.focus .page-icon.trading:before {
    background-image: url('~img/trading/focus-mobile-trading-tab.png');
}

/*Dark*/
.dark .mobile-more-pages .mobile-more-pages-container{
    background-color: #313131;
    color: lightgray;
}

.dark .mobile-more-pages .tabs .tab.focus .page-name {
    color: #e18543;
}
