<ul class="dropdown-menu context-menu" context-menu [left]="contextMenu.left" [top]="contextMenu.top" role="menu" aria-labelledby="single-button">

    <li *ngIf="getContextMenuIdeaItem()"  class="menuitem menu-title non-selectable" role="menuitem">
        <div>{{getContextMenuIdeaItem().ideaCompany.name}}</div>
    </li>

    <box-context-menu *ngIf="getContextMenuIdeaItem()" (outputBoxType)="openWindow($event)"></box-context-menu>

    <li *ngIf="getContextMenuIdeaItem()" class="divider dropdown-divider"></li>

    <trading-context-menu *ngIf="getContextMenuIdeaItem()" [symbol]="getContextMenuIdeaItem()?.ideaCompany.symbol"></trading-context-menu>

    <li *ngIf="getContextMenuIdeaItem()"  class="menuitem show-idea icon" role="menuitem" (click)="openIdeaOnCommunity()">
        <div i18n="@@communityContextMenu_showIdeaOnCommunity">مشاهدة الفكرة في مجتمع تكرتشارت</div>
    </li>

    <li *ngIf="getContextMenuAuthorNickNameItem()" class="menuitem user-profile icon" role="menuitem" (click)="openUserProfileOnCommunity()">
        <div>{{getContextMenuAuthorPageItemText(getContextMenuItem().profileName)}}</div>
    </li>

    <li *ngIf="getContextMenuIdeaItem()"  class="menuitem show-company-ideas icon" role="menuitem" (click)="openCompanyPageInCommunity()">
        <div i18n="@@communityContextMenu_showCompanyOnCommunity">مشاهدة أفكار الشركة في مجتمع تكرتشارت</div>
    </li>

</ul>
