<div bsModal #contactUsModal="bs-modal" class="modal fade contact-us" tabindex="-1" role="dialog" [config]="{backdrop:'static'}">
  <div *ngIf="supportMessage" class="modal-dialog">
    <div class="modal-content" [loading-mask-directive]="requestContactUsSubscription">
      <form #contactUsForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <button type="button" class="close" (click)="contactUsModal.hide()"><span>&times;</span></button>
          <h5 class="modal-title" i18n="@@contact-us_header">الدعم الفني</h5>
        </div>
        <div class="modal-body compact">

          <div class="form-group form-label">
            <label class="col-sm-12" i18n="@@contact-us_fillYourInformation">ادخل المعلومات التالية حتى نتمكن من المساعدة</label>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" i18n="@@contact-us_name">الاسم</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" name="name" i18n-placeholder="@@contact-us_name" placeholder="الاسم"
                     [(ngModel)]="supportMessage.name"
                     required
                     minLength="4"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" i18n="@@contact-us_email">البريد الالكتروني</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" name="email" i18n-placeholder="@@contact-us_email" placeholder="البريد الالكتروني"
                     [(ngModel)]="supportMessage.email"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" i18n="@@contact-us_mobile">رقم الهاتف</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" name="mobile" i18n-placeholder="@@contact-us_mobile" placeholder="رقم الهاتف"
                     required
                     [(ngModel)]="supportMessage.mobile"
                     minLength="5"
                     pattern="^[0-9 \-\+]+$"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" i18n="@@contact-us_message">الرسالة</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="message" required [(ngModel)]="supportMessage.message"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-success" [disabled]="!contactUsForm.valid" i18n="@@contact-us_send">إرسال</button>
          <a class="btn btn-sm btn-default" (click)="contactUsModal.hide()" i18n="@@contact-us_cancel">الغاء</a>
        </div>
      </form>
    </div>
  </div>
</div>
