<div bsModal #inactiveTabModal="bs-modal" class="modal fade inactive-tab centered" tabindex="-1" role="dialog"
     [config]="{backdrop:'static'}">
  <div class="modal-dialog" *ngIf="shown">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" i18n="@@inactive-tab_workspaceOpenedInAnotherTab">لقد تم فتح مساحة العمل في نافذة أخرى</h4>
          <button *ngIf="appModeAllowedFeature(appModeFeatureType.INACTIVE_TAB_CLOSE_BTN)" type="button" class="close" aria-label="Close" (click)="onClose()">
            <span *ngIf="!isMobile()" aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body round-corners">
          <div class="messages-container">
              <div>
                  <div i18n="@@inactive-tab_workspaceInAnotherTabHeader" class="message-header">هذه النافذة غير مفعّلة بسبب فتح نافذة أخرى في المتصفح تعمل على نفس مساحة العمل.</div>
                  <div *ngIf="isAllowedFeature(appModeFeatureType.WORKSPACE_IN_ANOTHER_TAB_MSG)" i18n="@@inactive-tab_workspaceInAnotherTabMsg" class="message-body">كي لا يضيع عملك ورسوماتك الفنية، تكرتشارت نت يتطلب أن تكون هناك فقط نافذة واحدة مفعلة لكل مساحة عمل.</div>
              </div>
          </div>
        </div>

        <div *ngIf="!isBasicUser() && !isMobile()" class="modal-footer">
          <a class="btn btn-danger refresh-button" (click)="onSelectWorkspace()" i18n="@@inactive-tab_selectWorkspace">اختيار مساحة العمل</a>
        </div>
        <div *ngIf="appModeAllowedFeature(appModeFeatureType.INACTIVE_TAB_CLOSE_BTN)" class="modal-footer">
            <button type="button" class="btn btn-default" (click)="onClose()" i18n="@@inactive-tab_close">إغلاق</button>
        </div>
    </div>

  </div>
</div>
