<div bsModal #alertModal="bs-modal" class="modal fade alert-component centered" tabindex="-1"
     role="dialog" [config]="{backdrop:'static'}" (onHidden)="onHidden()">
  <div *ngIf="alert" class="modal-dialog">
    <div class="modal-content">
      <form #alertForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <button type="button" class="close" (click)="hideModalAndReturnToCaller()"><span>&times;</span></button>
          <h5 class="modal-title">{{title|translate}}</h5>
        </div>
        <div class="modal-body compact">

          <div class="form-group form-label">
            <label class="col-sm-12" i18n="@@alert_enterAlertCondition">ادخل شرط التنبيه</label>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" i18n="@@alert_company">الشركة</label>
            <div class="col-sm-9">
              <symbol-selector *ngIf="enableSymbolSelector"
                               (outputSymbol)="onSelectingSymbol($event)"></symbol-selector>
              <input *ngIf="!enableSymbolSelector" class="form-control readonly-data"
                     value="{{alert.company.symbol}} - {{alert.company.name}}" type="text" disabled/>

              <div *ngIf="!alert.company && alertForm.submitted"
                   class="alert alert-danger tickerchart-validation-error-message"
                   i18n="@@alert_pleaseEnterCompanyName"> يرجى إدخال اسم الشركة
              </div>
              <div *ngIf="!isAlertSupported(this.alert.company)"
                   class="alert alert-danger tickerchart-validation-error-message"
                   i18n="@@alert_alertNotAvailable"> ميزة التنبيهات غير متاحة لهذه الشركة
              </div>
            </div>
          </div>


          <div *ngIf="isNormalAlert()">
            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@alert_field">الحقل</label>
              <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="normalAlert.field" name="field" validateOnBlur
                        requiredInputValidator>
                  <option *ngFor="let field of fields" value="{{field.id}}">{{field.name | translate}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@alert_condition">الشرط</label>
              <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="normalAlert.operator" name="operator" validateOnBlur
                        requiredInputValidator>
                  <option *ngFor="let operator of operators"
                          value="{{operator.id}}">{{operator.name | translate}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@alert_value">القيمة</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" [(ngModel)]="normalAlert.value" name="value"
                       i18n-placeholder="@@alert_value" placeholder="قيمة الشرط"
                       validateOnBlur requiredInputValidator moreThanOrEqualNumberValidator [minNumber]="0"/>
              </div>
            </div>
          </div>


          <div *ngIf="isTrendLineAlert()">
            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@alert_condition">الشرط</label>
              <div class="col-sm-9">
                <select class="form-control" name="operation" #operation [ngModel]="trendLineAlert.operation.type"
                        (change)="onSelectingAlertOperation(operation.value)"
                        requiredInputValidator>
                  <option *ngFor="let operation of operations"
                          value="{{operation.type}}">{{getOperationText(operation)}}</option>
                </select>
              </div>
            </div>
          </div>


          <div *ngIf="isChartAlert()">
            <div class="form-group chart-alert-parameter">
              <label class="col-sm-3 control-label" i18n="@@alert_field">الحقل</label>
              <div [className]="showParameterValueSelectionControl(chartAlert.equationDefinition.indicator) ? 'col-sm-4' : 'col-sm-9'">
                <select class="form-control english-text" [class.readonly-data]="editMode" name="parameter" #indicator [ngModel]="chartAlert.equationDefinition.indicator.name"
                        (change)="onSelectingParameter(indicator.value)" requiredInputValidator [disabled]="editMode">
                  <option *ngFor="let indicator of chartAlertIndicators" class="english-text ltr"
                          value="{{indicator.name}}">{{indicator.name}}</option>
                </select>
              </div>
              <div class="col-sm-5" *ngIf="showParameterValueSelectionControl(chartAlert.equationDefinition.indicator)">
                <select class="form-control english-text" [class.readonly-data]="editMode"
                        [(ngModel)]="chartAlert.equationDefinition.indicator.selectedIndicatorField" name="parameterValue"
                        [disabled]="editMode"
                        requiredInputValidator>
                  <option *ngFor="let option of getIndicatorFields(chartAlert.equationDefinition.indicator)" class="english-text ltr"
                          value="{{option}}">{{option}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@alert_condition">الشرط</label>
              <div class="col-sm-9">
                <select class="form-control" [class.readonly-data]="editMode" name="function" #alertFunction [ngModel]="chartAlert.equationDefinition.alertFunctionType"
                        (change)="onSelectingAlertFunction(alertFunction.value)" [disabled]="editMode"
                        requiredInputValidator>
                  <option *ngFor="let alertFunction of alertFunctions"
                          value="{{alertFunction.type}}">{{getFunctionText(alertFunction)}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{getChartAlertValueText()}}</label>
              <div class="col-sm-9">
                <input class="form-control" type="number" name="value" placeholder="{{getChartAlertValueText()}}"
                       [(ngModel)]="chartAlert.equationDefinition.value1" validateOnBlur requiredInputValidator/>
              </div>
            </div>

            <div *ngIf="chartAlert.hasChannelFunction()" class="form-group">
              <label class="col-sm-3 control-label">{{getChartAlertSecondValueText()}}</label>
              <div class="col-sm-9">
                <input class="form-control" type="number" name="secondValue" placeholder="{{getChartAlertSecondValueText()}}"
                       [(ngModel)]="chartAlert.equationDefinition.value2" validateOnBlur requiredInputValidator
                       lessThanOrEqualNumberValidator [maxNumber]="(chartAlert.equationDefinition.value1 - 0.00001).toFixed(5)"/>
              </div>
            </div>
          </div>


          <div *ngIf="isTrendLineAlert() || isChartAlert()">
            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@alert_triggerAlert">الحصول على التنبيه</label>
              <div class="col-sm-9">
                <select class="form-control" name="triggerType" #triggerType [ngModel]="trendLineAlert.triggerType"
                        (change)="onSelectingTriggerType(triggerType.value)"
                        requiredInputValidator>
                  <option *ngFor="let triggerType of triggerTypes"
                          value="{{triggerType.type}}">{{triggerTypeText(triggerType)}}</option>
                </select>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-3 control-label" i18n="@@alert_showNote">ملاحظة</label>

            <div class="col-sm-9">
              <input class="form-control" [(ngModel)]="alert.message" type="text" name="description"
                     i18n-placeholder="@@alert_alertNote" placeholder="ملاحظة التنبيه"/>
            </div>
          </div>
            <div  class="form-group form-label">
                <label class="col-sm-12" i18n="@@alert_chooseAlertingMethod">خيارات التنبيه</label>
            </div>

            <div>

                <div class="form-group" [class.radio-selected]="!alwaysValidAlert">
                    <label class="col-sm-3 control-label expiration-date">
                        <input type="radio" name="sharing-option" value="limit-date"  (change)="onChangeExpirationDate(false, $event)" [checked]="!alwaysValidAlert" >
                        <span i18n="@@alert_expirationDate">تاريخ الانتهاء</span>
                    </label>
                    <div class="col-sm-9">
                        <select class="form-control" [(ngModel)]="expiryDateSelection" name="expiryDateSelection"
                                requiredInputValidator [disabled]="alwaysValidAlert">
                            <option *ngFor="let expiryDate of alertExpiryDates"
                                    value="{{expiryDate.type}}">{{expiryDate.name | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" [class.radio-selected]="alwaysValidAlert">
                    <label class="col-sm-9">
                        <input type="radio" name="sharing-option" value="valid-date" [checked]="alwaysValidAlert" (click)="onChangeExpirationDate(true, $event)">
                        <span i18n="@@alert_alwaysValidAlert">صالح دائما (بدون تاريخ صلاحية)</span>
                        <div *ngIf="isUnAuthorized()" class="unauthorized-lock-icon"></div>
                    </label>
                </div>
            </div>


          <div *ngIf="appModeAllowedFeature(appModeFeatureType.CHOOSE_ALERT_METHOD)" class="form-group form-label">
            <label class="col-sm-12" i18n="@@alert_chooseAlertingMethod">اختر طريقة التنبيه</label>
          </div>

          <div *ngIf="appModeAllowedFeature(appModeFeatureType.ALERT_SEND_EMAIL)" class="form-group">
            <div class="checkbox">
              <div class="col-sm-12">
                <label>
                  <input type="checkbox" name="sendEmail" [(ngModel)]="sendEmail">
                  <span i18n="@@alert_sendEmail">ارسال إلى البريد الكتروني</span>
                </label>
              </div>
            </div>
          </div>

          <div *ngIf="appModeAllowedFeature(appModeFeatureType.ALERT_SEND_EMAIL)" class="form-group">
            <label class="col-sm-3 control-label" i18n="@@alert_email">البريد الالكتروني</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" name="email"
                     i18n-placeholder="@@alert_email" placeholder="البريد الالكتروني"
                     [(ngModel)]="email"
                     [disabled]="!sendEmail"
                     requiredInputValidator [activated]="sendEmail"
                     emailValidator [activated]="sendEmail"/>
            </div>
          </div>

          <div *ngIf="appModeAllowedFeature(appModeFeatureType.ALERT_SEND_MOBILE)" class="form-group">
            <div class="checkbox">
              <div class="col-sm-12">
                <label>
                  <input type="checkbox" [(ngModel)]="sendMobileNotification" name="sendMobileNotification">
                  <span i18n="@@alert_sendMobileNotification">ارسال إشعار إلى تطبيق الجوال</span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" [class.hidden]="disableSMS()">
            <div class="checkbox">
              <div class="col-sm-12">
                <label>
                  <input type="checkbox" name="sendSMS" [(ngModel)]="sendSMS">
                  <span i18n="@@alert_sendSms">ارسال رسالة نصية</span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" [class.hidden]="disableSMS()">
            <label class="col-sm-3 control-label" i18n="@@alert_phoneNumber">رقم الجوال</label>
            <div class="col-sm-5">
              <select class="form-control" name="countryCode" [disabled]="!sendSMS"
                      [(ngModel)]="countryCode"
                      requiredInputValidator>
                <option *ngFor="let country of countries"
                        value="{{country.code}}">{{getCountryDropdownName(country)}}</option>
              </select>
            </div>
            <div class="col-sm-4">
              <input class="form-control" type="text" name="phoneNumber"
                     i18n-placeholder="@@alert_phoneNumber" placeholder="رقم الجوال"
                     [(ngModel)]="phoneNumber"
                     [disabled]="!sendSMS"
                     requiredInputValidator [activated]="sendSMS"
                     integerValueValidator [activated]="sendSMS"
                     phoneNumberValidator [activated]="sendSMS" [countryCode]="countryCode"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" i18n="@@alert_apply">موافق</button>
          <a *ngIf="editMode" class="btn btn-danger" (click)="onDelete()" i18n="@@alert_delete">حذف</a>
          <a class="btn btn-default" (click)="hideModalAndReturnToCaller()" i18n="@@alert_cancel">الغاء</a>
        </div>
      </form>
    </div>
  </div>
</div>
