.alert-component .modal-dialog {
    width:580px;
}

.app .alert-component .modal-dialog .modal-footer {
    text-align: center;
}

.alert-component .form-group input[type=radio] {
    vertical-align: top;
    margin-left: 5px;
}

.english .alert-component .form-group input[type=radio] {
    margin-left: 0px;
    margin-right: 5px;
}

.english .alert-component .modal-dialog .expiration-date {
    padding-right: 2px;
}

.alert-component .unauthorized-lock-icon {
    margin-right: 5px;
    display: inline-block;
    vertical-align: sub;
}

.english .alert-component .unauthorized-lock-icon {
    margin-right: 0px;
    margin-left: 5px;
}
