.price-input {
    background-color: white;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.price-input.disabled {
    border: 1px solid darkgray;
}

.price-input .number-with-steps-container {
    flex-grow: 1;
}

.price-input .number-with-steps {
    border: none;
    margin-top: 1px;
    height: 25px;
}

.price-input .number-with-steps:focus,
.price-input .number-with-steps.active {
    box-shadow: none;
}

.price-input:focus-within {
    box-shadow: rgba(102, 175, 233, 0.537) 0 0 7.18874px 0;
}

.price-input .drop-down-container {
    display: flex;
    flex-direction: row-reverse;
}

.price-input .drop-down-container .drop-down-arrow-container {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-right: 1px solid black;
}

.english .price-input .drop-down-container .drop-down-arrow-container {
    border-left: 1px solid black;
    border-right: none;
}

.price-input.disabled .drop-down-container .drop-down-arrow-container {
    border-right: 1px solid darkgray;
}

.english .price-input .drop-down-container .drop-down-arrow-container{
    border-left: 1px solid darkgray;
    border-right: none;
}

.price-input .select-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    cursor: pointer;
}

.price-input.disabled .select-arrow {
    border-top: 5px solid darkgray;
    cursor: auto;
}

.price-input .drop-down-container .drop-down-list {
    top: 30px;
    position: absolute;
    max-height: 150px;
    z-index: 1;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    font-weight: bold;
    color: #000;
    overflow-y: scroll;
}

.price-input.disabled .drop-down-list {
    display: none;
}

.price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container.selected,
.price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container.selected:hover {
    background-color: bisque;
}

.price-input .drop-down-container .drop-down-list .drop-down-list-container div .price-text {
    font-size: 1.2rem;
    opacity: 0.5;
    padding: 0 5px;
    line-height: 2rem;
}

.price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container:hover {
    background-color: #eee;
}

.mobile .price-input .mobile-drop-down-list {
    width: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    position: relative;
}

.mobile .mobile-drop-down-list select {
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    position: absolute;
}

.mobile .mobile-drop-down-list select:focus {
    outline: none;
}

/* dark theme */

.dark .price-input {
    background-color: #333;
}

.dark .price-input .select-arrow {
    border-top-color: white;
}

.dark .price-input.disabled .select-arrow {
    border-top-color: gray;
}

.dark .price-input .drop-down-container .drop-down-list {
    background-color: #444;
    color: white;
}

.dark .price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container.selected,
.dark .price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container.selected:hover {
    background-color: cornflowerblue;
}

.dark .price-input .drop-down-container .drop-down-list .drop-down-list-container div.price-container:hover {
    background-color: #222;
}
