.signin-or-signup.modal .modal-dialog {
    width: 700px;
}

.signin-or-signup.modal .modal-dialog .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 10px solid;
    border-radius: 22px;
    border-color: #d3e9f7;
}

.signin-or-signup.modal .modal-dialog .modal-content .modal-body {
    border-radius: 10px;
    background-color: #fafafa;
    min-height: 200px;
    padding-bottom: 30px;
}

.signin-or-signup.modal .modal-dialog .modal-content .modal-body .modal-title {
    font-size: 2rem;
    padding: 30px;
    color: #2b79c2;
}

.signin-or-signup.modal .modal-dialog .modal-content .modal-body .modal-subtitle {
    font-size: 1.6rem;
    margin-bottom: 30px;
    color: #3b4652;
}

.mobile .signin-or-signup.modal .modal-dialog .modal-content .modal-body .modal-subtitle {
    margin-bottom: 15px;
}

.signin-or-signup.modal .modal-dialog .modal-content .options {
    display: flex;
    flex-direction: row;
    margin:40px 0px;
    justify-content: space-around;
}

.signin-or-signup.modal .modal-dialog .modal-content .options .option {
    display: flex;
    flex-direction: row;
    width: 45%;
    border: 1px solid skyblue;
}

.mobile .signin-or-signup.modal .modal-dialog .modal-content .options .option {
    padding-right: 2px;
}

.signin-or-signup.modal .modal-dialog .modal-content .options .option .text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.arabic .signin-or-signup.modal .modal-dialog .modal-content .options .option .text {
    padding-right: 15px;
}

.mobile.arabic .signin-or-signup.modal .modal-dialog .modal-content .options .option .text {
    padding-right: 5px;
    padding-left: 5px;
}

.english .signin-or-signup.modal .modal-dialog .modal-content .options .option .text {
    padding-left: 15px;
}

.mobile .signin-or-signup.modal .modal-dialog .modal-content .options .option .text {
    height: 130px;
}

.mobile .signin-or-signup.modal .modal-dialog .modal-content .options .option .text > div {
    padding: 5px 0px;
}

.signin-or-signup.modal .modal-dialog .modal-content .options .signin.option:hover,
.signin-or-signup.modal .modal-dialog .modal-content .options .signup.option:hover{
    opacity: 1;
    background-color: #f5ffff;
    cursor: pointer;
}


.signin-or-signup.modal .modal-dialog .modal-content .options .option:before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.signin-or-signup.modal .modal-dialog .modal-content .options .signin.option:before {
    background-image: url('~img/signin.png');
}

.signin-or-signup.modal .modal-dialog .modal-content .options .signup.option:before {
    background-image: url('~img/signup.png');
}

.mobile .signin-or-signup.modal .modal-dialog .modal-content .options .option:before {
    background-size: contain;
    min-width: 40px;
    width: 40px;
}

.signin-or-signup.modal .modal-dialog .modal-content .options .option .description {
    font-size: 1.4rem;
}

.signin-or-signup.modal .modal-dialog .modal-content .options .option .action {
    font-size: 1.8rem;
}

.mobile .signin-or-signup.modal .modal-dialog .modal-content .options .option .action {
    font-size: 1.3rem;
}

.signin-or-signup.modal .modal-dialog .modal-content .btn-close {
    width: 100px;
}

/* bold font */

.arabic .signin-or-signup.modal .bold-font {
    font-family: DroidArabicKufi-Bold;
}

.english .signin-or-signup.modal .bold-font {
    font-family: "Tahoma Black";
}

.mobile .signin-or-signup.modal .modal-dialog .modal-body {
    padding: 0px 0px 10px 0px;
}


/* dark theme */

.dark .signin-or-signup.modal .modal-dialog .modal-content {
    border-color: lightsteelblue;
}

.dark .signin-or-signup.modal .modal-dialog .modal-content .modal-body {
    background-color: #444;
}

.dark .signin-or-signup.modal .modal-dialog .modal-content .modal-body .modal-title {
    color: white;
}

.dark .signin-or-signup.modal .modal-dialog .modal-content .modal-body .modal-subtitle {
    color: lightgrey;
}

.dark .signin-or-signup.modal .modal-dialog .modal-content .options .option {
    border-color: lightslategray;
}

.dark .signin-or-signup.modal .modal-dialog .modal-content .options .signin.option:hover,
.dark .signin-or-signup.modal .modal-dialog .modal-content .options .signup.option:hover {
    background-color: #333;
    border-color: #666;
}

