<div class="composite-condition-editor">

  <div [@showCondition]="showCondition" class="simple-condition-container">
    <simple-condition-editor *ngIf="editingToken" [inputToken]="editingToken" [editingMode]="isEditing()" (outputToken)="onDoneUpdatingToken($event)"></simple-condition-editor>
  </div>

  <div [@showEditor]="showEditor" class="editor-container">

    <div class="form-horizontal">          
      <div class="form-group">
        <label class="col-sm-3 control-label" i18n="@@composite-condition-editor_filterTools">أدوات بناء التصفية</label>
        <div class="col-sm-9">
          <div class="editor-btns">
            <div><a class="btn btn-primary btn-sm" (click)="onAddBeginParanthesis()">&#40;</a></div>
            <div><a class="btn btn-primary btn-sm" (click)="onAddEndParanthesis()">&#41;</a></div>
            <div><a class="btn btn-primary btn-sm" (click)="onAddLogicOperator(logicOperatorType.And)" i18n="@@composite-condition-editor_AND">و</a></div>
            <div><a class="btn btn-primary btn-sm" (click)="onAddLogicOperator(logicOperatorType.Or)" i18n="@@composite-condition-editor_OR">أو</a></div>
            <div><a class="btn btn-purple btn-sm" (click)="onNewSimpleCondition()" i18n="@@composite-condition-editor_addNewCondition">اضافة شرط جديد</a></div>
          </div>          
        </div>
      </div>            
    </div>
        
    <div class="editor-body" [class.valid]="valid">
      <div *ngFor="let token of tokens; let i = index" class="text-token" [class.condition]="isCondition(token)" [class.operator]="isOperator(token)">
        {{getTokenText(token.text)}}
        <div class="token-icon delete" (click)="onDeleteToken(i)"></div>
        <div class="token-icon settings" (click)="onUpdateToken(i)"></div>
      </div>    
    </div>

    <div *ngIf="valid" class="validation-msg valid" i18n="@@composite-condition-editor_validMessage">المعادلة كاملة وجاهزة للحفظ</div>
    <div *ngIf="!valid" class="validation-msg invalid" i18n="@@composite-condition-editor_invalidMessage">المعادلة في طور الإنشاء وغير جاهزة للحفظ</div>
        
  </div>
  
</div>
