.composite-condition-editor > .editor-container,
.composite-condition-editor > .simple-condition-container {
    overflow:hidden;
}

/* editor-container > editor-btns */

.composite-condition-editor .editor-container .editor-btns {
    display: flex;
}

.arabic .composite-condition-editor .editor-container .editor-btns > * {
    margin-left: 10px;
}

.english .composite-condition-editor .editor-container .editor-btns > * {
    margin-right: 10px;
}

.composite-condition-editor .editor-container .editor-btns > .btn {
    min-width: 100px;
}

/* editor-container > editor-body */

.composite-condition-editor .editor-container .editor-body {
    height: 280px;
    background-color: white;
    border: 3px solid indianred;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.composite-condition-editor .editor-container .editor-body.valid {
    border: 3px solid darkseagreen;
}

/* editor-container > editor-body > text-token */

.composite-condition-editor .editor-container .editor-body .text-token {
    background-color: skyblue;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial;
    height: 40px;
    position: relative;
}


.composite-condition-editor .editor-container .editor-body .text-token.operator {
    background-color: gainsboro;
}

.composite-condition-editor .editor-container .editor-body .text-token.condition {
    background-color: khaki;
}

.composite-condition-editor .editor-container .editor-body .text-token .token-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    opacity: 0;
    margin: 5px;
    display: flex;
}


.composite-condition-editor .editor-container .editor-body .text-token:hover .token-icon {
    opacity: 0.5;
}

.composite-condition-editor .editor-container .editor-body .text-token .token-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.composite-condition-editor .editor-container .editor-body .text-token .delete {
    top: 0;
}

.composite-condition-editor .editor-container .editor-body .text-token .delete:before {
    background-image: url('~img/charcenter-mini-toolbar-close.png');
    background-repeat: no-repeat;
    background-position: center;
    content:"";
    display:inline-block;
    width:100%;
    height:100%;
}

.arabic .composite-condition-editor .editor-container .editor-body .text-token .delete {
    left: 0;
    right: auto;
}

.english .composite-condition-editor .editor-container .editor-body .text-token .delete {
    right: 0;
    left: auto;
}

.composite-condition-editor .editor-container .editor-body .text-token .settings {
    top: 0;
    display: none;
}

.composite-condition-editor .editor-container .editor-body .text-token .settings:before {
    background-image: url('~img/chart-elements-settings.png');
    background-repeat: no-repeat;
    background-position: center;
    content:"";
    display:inline-block;
    width:100%;
    height:100%;
}

.arabic .composite-condition-editor .editor-container .editor-body .text-token .settings {
    right: 0;
    left: auto;
}

.english .composite-condition-editor .editor-container .editor-body .text-token .settings {
    left: 0;
    right: auto;
}


.composite-condition-editor .editor-container .editor-body .text-token.condition .settings {
    display: flex;
}

/* editor-container > validation-msg */

.composite-condition-editor .editor-container .validation-msg {
    line-height: 30px;
    font-size: 1.5rem;
    color: seagreen;
    vertical-align: middle;
    margin-top: 5px;
    display: flex;
}

.arabic .composite-condition-editor .editor-container .validation-msg {
    text-align: right;
}

.english .composite-condition-editor .editor-container .validation-msg {
    text-align: left;
}

.composite-condition-editor .editor-container .validation-msg:before {
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    content: "";
    display: inline-block;
}


.arabic .composite-condition-editor .editor-container .validation-msg:before {
    margin-left: 5px;
}

.english .composite-condition-editor .editor-container .validation-msg:before {
    margin-right: 5px;
}

.composite-condition-editor .editor-container .validation-msg.valid:before {
    background-image: url('~img/correct.png');
}

.composite-condition-editor .editor-container .validation-msg.invalid {
    color: firebrick;
}

.composite-condition-editor .editor-container .validation-msg.invalid:before {
    background-image: url('~img/warning.png');
}

/* font family */
.arabic .composite-condition-editor .editor-container .validation-msg {
    font-family: DroidArabicKufi-Bold;
}

.english .composite-condition-editor .editor-container .validation-msg {
    font-family: Tahoma Black;
}


/* dark theme */

.dark .composite-condition-editor .editor-container .editor-body {
    background-color: #222;
}

.dark .composite-condition-editor .editor-container .validation-msg.valid:before {
    filter: none;
}

.dark .composite-condition-editor .editor-container .validation-msg {
    color: #6dc152;
}

.dark .composite-condition-editor .editor-container .validation-msg.invalid {
    color: #ea2d3f;
}

.dark .composite-condition-editor .editor-container .validation-msg.invalid:before {
    filter: none;
}

.dark .composite-condition-editor .editor-container .editor-body .text-token.condition {
    background-color: #524f32;
}

.dark .composite-condition-editor .editor-container .editor-body .text-token {
    background-color: #256884;
}

.dark .composite-condition-editor .editor-container .editor-body .text-token.operator {
    background-color: #5d5d5d;
}
