<div class="simple-condition-editor">

  <form #simpleConditionForm="ngForm" class="form-horizontal">

    <div class="form-group form-label">
      <label class="col-sm-12">{{title | translate}}</label>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" i18n="@@simple-condition-editor_fieldName">اسم الحقل</label>
      <div class="col-sm-9">
        <select #operand1Select class="form-control" [ngModel]="operand1Field" (change)="onChangeOperand1(operand1Select.value)" name="operand1" required>
          <option *ngFor="let field of fields" value="{{field.id}}">{{field.name | translate}}</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" i18n="@@simple-condition-editor_compareOperator">نوع المقارنة</label>
      <div class="col-sm-9">
        <select #operatorSelect class="form-control" [ngModel]="condition.operator.type" (change)="onChangeOperator(operatorSelect.value)" name="operator" required>
          <option *ngFor="let compareOperator of compareOperators" value="{{compareOperator.type}}">{{compareOperator.name | translate}}</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" i18n="@@simple-condition-editor_operandType">المقارن به</label>
      <div class="col-sm-9">
        <select #operand2TypeSelect class="form-control" [ngModel]="condition.operand2.type" (change)="onChangeOperand2Type(operand2TypeSelect.value)" name="operand2Type" required>
          <option *ngFor="let operandType of operandTypes" value="{{operandType.type}}">{{operandType.name | translate}}</option>
        </select>
      </div>
    </div>


    <div *ngIf="condition.operand2.type == operandType.Field" class="form-group">
      <label class="col-sm-3 control-label" i18n="@@simple-condition-editor_fieldName">اسم الحقل</label>
      <div class="col-sm-9">
        <select #operand2Select class="form-control" [ngModel]="operand2Field" (change)="onChangeOperand2(operand2Select.value)" name="operand2Field" required>
          <option *ngFor="let field of fields" value="{{field.id}}">{{field.name | translate}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="condition.operand2.type == operandType.Constant" class="form-group">
      <label class="col-sm-3 control-label" i18n="@@simple-condition-editor_value">القيمة</label>
      <div class="col-sm-9">
        <input #constantInput class="form-control" type="text" name="operand2Constant"  i18n-placeholder="@@simple-condition-editor_value" placeholder="القيمة المقارنة" [(ngModel)]="condition.operand2.value" (click)="constantInput.select()" pattern="^[0-9]\d*(\.\d+)?$" required/>
      </div>
    </div>

    <div class="btns row">
      <a href="javascript:void(0);" class="btn btn-success" [class.disabled]="!simpleConditionForm.valid" (click)="onSave()">{{buttonText | translate}}</a>
      <a href="javascript:void(0);" class="btn btn-default" (click)="onCancel()" i18n="@@simple-condition-editor_cancel">إلغاء</a>
    </div>

  </form>


</div>
