/* .alert-center table */
.alert-center .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.alert-center table {
    font-size: 1.4rem;
}

.alert-center .table-bordered>thead>tr>th,
.alert-center .table-bordered>tbody>tr>th,
.alert-center .table-bordered>tfoot>tr>th,
.alert-center .table-bordered>thead>tr>td,
.alert-center .table-bordered>tbody>tr>td,
.alert-center .table-bordered>tfoot>tr>td {
    border: 1px solid #999;
}


.arabic .alert-center table td,
.arabic .alert-center table th {
    text-align: right;
}

.english .alert-center table td,
.english .alert-center table th {
    text-align: left;
}

.alert-center table td.no-alerts {
    text-align: center;
}

.alert-center table td .number {
    font-family: arial;
    font-weight: bold;
    direction:ltr;
    display: inline-block;
    margin: 0 2px;
}

/* .alert-center table .icon */

.alert-center table td.icon,
.alert-center table th.icon {
    text-align: center;
    width: 30px;
}

.alert-center table td.icon > div {
    width: 16px;
    height: 16px;
    cursor:pointer;
}

.alert-center table td .icon-alert-delete:before,
.alert-center table td .icon-alert-edit:before {
    width:100%;
    height:100%;
    display: inline-block;
    content: "";
}

.alert-center table td .icon-alert-delete:before {
    background-image: url('~img/alert-small-delete.png');
}

.alert-center table td .icon-alert-edit:before {
    background-image: url('~img/alert-small-edit.png');
}

/* .alert-center table .no-alerts */

.alert-center table td.no-alerts > div {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.alert-center table td.no-alerts > .create-alert {
    color: steelblue;
    cursor:pointer;
}

.alert-center table td.no-alerts > .create-alert:hover {
    color: slateblue;
}


/* .alert-center .btns */

.arabic .alert-center .btns {
    text-align: left;
}

.english .alert-center .btns {
    text-align: right;
}


.alert-center .btns .btn > span {
    font-size: 1.3rem;
}

.arabic .alert-center .btns .btn > span {
    padding-left: 5px;
}

.english .alert-center .btns .btn > span {
    padding-right: 5px;
}



/* .alert-center h3 */

.alert-center h3 {
    font-size: 1.7rem;
}

.arabic .alert-center h3 {
    text-align: right;
}

.english .alert-center h3 {
    text-align: left;
}

.alert-center h3.pending {
    color: maroon;
}

.alert-center h3.inactive {
    margin-top: 20px;
    color: steelblue;
}

/* font family */
.arabic .alert-center table td.no-alerts > div,
.arabic .alert-center h3 {
    font-family: DroidArabicKufi-Bold;
}

.english .alert-center table td.no-alerts > div,
.english .alert-center h3 {
    font-family: Tahoma Black;
}

/* dark theme */
.dark .alert-center h3.pending {
    color: coral;
}

.dark .alert-center .btns .btn *:before {
    filter: none;
}

.dark .alert-center h3.inactive {
    color: lightblue;
}

.dark .alert-center table td.no-alerts > .create-alert {
    color: lightblue;
}

.dark .alert-center table td.no-alerts > .create-alert:hover {
    color: deepskyblue;
}
