<div bsModal #alertCenterModal="bs-modal" class="modal fade alert-center" tabindex="-1" role="dialog" [config]="{backdrop:'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertCenterModal.hide()"><span>&times;</span></button>
        <h5 class="modal-title" i18n="@@alert-center_header">مركز التنبيهات</h5>
      </div>
      <div class="modal-body">

        <div>
          <h3 class="pending" i18n="@@alert-center_pendingAlerts">التنبيهات التي لم تتحقق</h3>
        </div>

        <table class="table table-bordered">
          <tr>
            <th class="icon"></th>
            <th class="icon"></th>
            <th i18n="@@alert-center_alertType">نوع التنبيه</th>
            <th i18n="@@alert-center_addingDate">تاريخ الاضافة</th>
            <th i18n="@@alert-center_company">الشركة</th>
            <th i18n="@@alert-center_condition">الشرط</th>
            <th i18n="@@alert-center_expirationDate">تاريخ الانتهاء</th>
          </tr>

          <tr *ngFor="let alert of activeAlerts">
            <td class="icon"><div class="icon-alert-delete" data-toggle="tooltip" data-placement="right" i18n-title="@@alert-center_deleteAlert" title="حذف التنبيه" (click)="onDeleteAlert(alert)"></div></td>
            <td class="icon"><div class="icon-alert-edit" data-toggle="tooltip" data-placement="right" i18n-title="@@alert-center_editAlert" title="تعديل التنبيه" (click)="onUpdateAlert(alert)"></div></td>
            <td>{{getAlertTypeText(alert)}}</td>
            <td><span class="number">{{alert.createdAt.substr(0, 10)}}</span></td>
            <td>{{alert.company.name}}</td>
            <td>{{alertCondition(alert)}}</td>
            <td>
              <div *ngIf="!alert.lastTriggerTime"><span class="number">{{getExpiryDate(alert)}}</span></div>
            </td>
          </tr>

          <tr *ngIf="activeAlerts.length == 0">
            <td colspan="7" class="no-alerts">
              <div i18n="@@alert-center_noAlerts">لا يوجد تنبيهات.</div>
              &nbsp;
              <div class="create-alert" (click)="onNewAlert()" i18n="@@alert-center_newAlert">اضغط هنا لإنشاء تنبيه</div>
            </td>
          </tr>

        </table>

        <div class="btns">
          <button class="btn btn-primary" (click)="onNewAlert()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span i18n="@@alert-center_addNewAlert">إضافة تنبيه جديد</span></button>
        </div>

        <div *ngIf="0 < inactiveAlerts.length">

          <h3 class="inactive" i18n="@@alert-center_expiredAlerts">التنبيهات المنتهية</h3>

          <table class="table table-bordered">
            <tr>
              <th i18n="@@alert-center_alertType">نوع التنبيه</th>
              <th i18n="@@alert-center_addingDate">تاريخ الاضافة</th>
              <th i18n="@@alert-center_company">الشركة</th>
              <th i18n="@@alert-center_condition">الشرط</th>
              <th i18n="@@alert-center_details">تفصيل</th>
            </tr>
            <tr *ngFor="let alert of inactiveAlerts">
              <td>{{getAlertTypeText(alert)}}</td>
              <td><span class="number">{{alert.createdAt.substr(0, 10)}}</span></td>
              <td>{{alert.company.name}}</td>
              <td>{{alertCondition(alert)}}</td>
              <td *ngIf="alert.lastTriggerTime"><span i18n="@@alert-center_achievedValueAt"> وقت التحقق </span><span class="number">{{alert.lastTriggerTime}}</span></td>
              <td *ngIf="!alert.lastTriggerTime"><span i18n="@@alert-center_achievedDateAt"> لم يتحقق قبل تاريخ </span><span class="number">{{alert.expiryDate.substr(0, 10)}}</span></td>
            </tr>
          </table>

        </div>

      </div>
      <div class="modal-footer">
        <a class="btn btn-default" (click)="alertCenterModal.hide()" i18n="@@alert-center_close">إغلاق</a>
      </div>
    </div>
  </div>
</div>
