<div bsModal #newsModal="bs-modal" class="modal news-details fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}" (onHidden)="onHidden()">
  <div class="modal-dialog modal-lg" *ngIf="news">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{news.header}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="newsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe frameBorder="0" [src]="news.url | safeUrl"></iframe>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="newsModal.hide()" i18n="@@new-details_close">اغلاق</button>
      </div>
    </div>
  </div>
</div>
