.news-details.modal .modal-header .modal-title {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    direction:rtl;
}

.news-details.modal .modal-content .modal-body {
    height: 300px;
    background-color: white;
    padding: 0px;
}

.news-details.modal .modal-body iframe {
    width: 100%;
    height: 100%;
}

/* font family */
.arabic .news-details.modal .modal-header .modal-title {
    font-family: DroidArabicKufi-Bold;
}

.english .news-details.modal .modal-header .modal-title {
    font-family: Tahoma Black;
}


/* mobile */
.mobile .news-details.modal .modal-content .modal-body {
    overflow-y: scroll;
}

.mobile .news-details.modal .modal-content .modal-body {
    height: 400px;
}
