<div bsModal #searchModal="bs-modal" class="modal fade search-company-modal" tabindex="-1" role="dialog" (onHidden)="onHidden()" disablePageZoom>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="searchModal.hide()">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" i18n="@@search-company_title">أدخل اسم أو رمز الشركة للبحث عنها</h4>
            </div>
            <div class="modal-body">
                <div class="search-symbol typeahead">
                    <div class="search-icon"></div>
                    <span class="vertical-separator"></span>
                    <input #input [(ngModel)]="searchText" (input)="doSearch()" (keydown)="onKeyDown($event)"/>
                    <div *ngIf="selectedMarkets.length > 0" dropdown class="static" (isOpenChange)="onDropDownStatusChange($event)">
                        <div class="market-selector toolbar-button" dropdownToggle>
                            <div class="selection">{{getSelectedMarketsLabel()}}</div>
                            <div class="arrow-container"><i></i></div>
                        </div>
                        <ul class="dropdown-menu scrollable iphone-allow-scrolling" dropdownMenu role="menu" aria-labelledby="single-button" #dropDownMenuElement>
                            <li *ngFor="let market of selectedMarkets">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" (change)="onSelectMarket(market)" [checked]="market.selected">
                                            <span>{{market.name}}</span>
                                        </label>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div #searchResultContainer class="company-search-container iphone-allow-scrolling">
                    <div class="company-search" *ngFor="let company of searchResult" (click)="onSelectCompany(company)" [class.opacity]="isDropDownOpen" [class.selected]="company.selected">
                        <div class="symbol-annotation">
                            <div class="symbol">{{getSymbolWithoutMarket(company.symbol)}}</div>
                            <div *ngIf="showDelayedAnnotation(company.symbol)" custom-tooltip [symbol]="company.symbol" class="delayed-icon icon"></div>
                        </div>
                        <div class="company-name">{{getCompanyName(company)}}</div>
                        <div class="market">{{company.market}}</div>
                    </div>
                    <div *ngIf="searchResult.length == 0">
                        <div class="warning-message">
                            <div class="warning-img"></div>
                            <div class="line2" [innerHTML]="getInValidResultSearch()"></div>
                            <div class="line3" i18n="@@search-company_warning">يرجى تعديل معلومات البحث</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
