.search-company-modal .modal-content {
    border-radius: 0;
}

.mobile .search-company-modal .modal-content {
    width: 100%;
}

.app .search-company-modal.modal .modal-header {
    padding-top: 18px;
    border-bottom: 0;
}

.search-company-modal.modal .modal-header {
    text-align: right;
    height: 56px;

}

.english .search-company-modal .modal-header {
    text-align: left;
}

.mobile .modal  .search-company-modal .modal-header .modal-title {
    font-size: 1.5rem;
}

.search-company-modal .modal-content .modal-body {
    padding: 0;
}

.search-company-modal .modal-content .modal-body .close {
    font-size: 40px;
}

.search-company-modal .search-symbol {
    font-size: 1.3rem;
    background-color: var(--button-back-color-hover);
    display: flex;
    height: 37px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

.dark .search-company-modal .search-symbol {
    border-bottom: 0;
    border-top: 0;
}

.arabic .search-company-modal .search-symbol {
    direction: rtl;
}

.english .search-company-modal .search-symbol {
    direction: ltr;
    align-items: center;
}

.arabic .search-company-modal .search-symbol .search-icon {
    background-position: right;
    margin: 9px 3px 0 5px;
}

.english .search-company-modal .search-symbol .search-icon {
    background-position: left;
    margin: 3px 5px 0 7px;
    height: 20px;
}

.search-company-modal .search-symbol .search-icon {
    width: 16px;
    height: 16px;
    line-height: 24px;
    padding-right: 4px;
}

.search-company-modal .search-symbol .search-icon:before {
    background-image: url('~img/mareketwatch-toolbar-search.png');
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
}

.arabic .app .search-company-modal .search-symbol.typeahead input {
    padding-right: 3px;
}

.english .app .search-company-modal .search-symbol.typeahead input {
    border-right: 1px solid var(--button-border-color-hover);
    padding-right: 3px;
}

.search-company-modal .modal-content .modal-body .search-label div {
    padding: 5px 10px;
    background-color: #313131;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-company-modal .modal-content .modal-body .search-label div:hover,
.search-company-modal .modal-content .modal-body .search-label div.selected {
    background-color: #264D8F;

}
.search-company-modal  .checkbox {
    margin-bottom: 0px;
}

.search-company-modal .modal-content .modal-body .company-search-container {
    height: 400px;
    overflow-y: auto;
    padding: 10px 15px;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search {
    display: flex;
    justify-content: space-between;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search.selected {
    background-color: #e4e4e4;
}

.mobile .search-company-modal .modal-content .modal-body .company-search-container .company-search.opacity {
    opacity: .3;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search:hover,
.search-company-modal .modal-content .modal-body .company-search-container .company-search.selected {
    background-color: #e4e4e4;
}

.dark .search-company-modal .modal-content .modal-body .company-search-container .company-search:hover,
.dark .search-company-modal .modal-content .modal-body .company-search-container .company-search.selected {
    background-color: #313131;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search > div {
    margin: 5px 0;
    font-size: 1.3rem;
    text-align: right;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search custom-tooltip {
    position: relative;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search .company-name {
    width: 55%;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search .market {
    text-align: center;
    width: 20%;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search .symbol-annotation {
    width: 25%;
    margin-right: 10px;
}

.english .search-company-modal .modal-content .modal-body .company-search-container .company-search .symbol-annotation {
    direction: ltr;
    text-align: left;
    margin-left: 10px;
}

.english .search-company-modal .modal-content .modal-body .company-search-container .company-search .company-name {
    text-align: left;
}

.search-company-modal .modal-content .modal-body .company-search-container .company-search .symbol-annotation > div {
    display: inline-block;
}

.mobile .search-company-modal .modal-content .modal-body .company-search-container .company-search .symbol-annotation > div {
    word-break: break-all;
}

.search-company-modal .modal-content .modal-body .company-search-container .delayed-icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}

.english .search-company-modal .modal-content .modal-body .company-search-container .delayed-icon {
    margin-right: 0px;
    margin-left: 5px;
}

.search-company-modal .modal-content .modal-body .company-search-container .delayed-icon:before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('~img/delayed-annotation.png');
    filter: none;
}

.search-company-modal .modal-content .modal-body .company-search-container .warning-message {
    margin-top: 180px;
    font-size: 14px;
}

.search-company-modal .modal-content .modal-body .market-selector {
    display: flex;
    width: max-content;
    border-right: 1px solid #bbbbbb;
    height: 37px;
    padding-right: 7px;
    padding-left: 7px;
}

.english .search-company-modal .modal-content .modal-body .market-selector {
    border-right: 0px;
    width: max-content;
}

.search-company-modal .modal-content .modal-body .market-selector .selection {
    padding-top: 9px;
    padding-left: 7px;
}

.english .search-company-modal .modal-content .modal-body .market-selector .selection {
    padding-right: 7px;
    padding-left: 7px;
}

.search-company-modal .modal-content .modal-body label {
    font-weight: 400
}

.search-company-modal .modal-content .modal-body input[type=checkbox] {
    width: 25px;
}
.search-company-modal .modal-content .modal-body .checkbox span {
    margin-right: 30px;
}
.english .search-company-modal .modal-content .modal-body .checkbox span {
    margin-right: 0px;
    margin-left: 30px;
}
.search-company-modal .modal-content .modal-body .company-search-container .warning-message .warning-img:before {
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    content: "";
    display: inline-block;
    background-image: url('~img/popup-alert.png');
}

.dark .search-company-modal .modal-content .modal-body .company-search-container .warning-message .warning-img:before {
    background-image: url('~img/popup-alert-dark.png');
}

.search-company-modal .modal-content .modal-body .company-search-container .warning-message .line2 {
    font-size: 22px;
    margin: 15px 0;
}

.search-company-modal .modal-content .modal-body .company-search-container .warning-message .line2 div {
    display: inline-block;
}

.search-company-modal .modal-content .modal-body .company-search-container .warning-message .line2 .text {
    color: red;
    margin-left: 10px;
}

.search-company-modal .arrow-container {
    display: flex;
    align-items: center;
    width: 6%;
    justify-content: center;
    opacity: .7;
}

.search-company-modal .arrow-container i {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    cursor: pointer;
}

.search-company-modal .dropdown.open .arrow-container i {
    transform: rotate(90deg);
    transition: transform 0.15s ease;
}

.english .search-company-modal .dropdown.open .arrow-container i {
    transform: rotate(-90deg);
    transition: transform 0.15s ease;
}

.english .search-company-modal .modal-content .modal-body .company-search-container .warning-message .line2 .text {
    margin-right: 10px;
}

/* dark theme */
.dark .app .search-company-modal.modal .modal-content {
    background-color: #444;
}

.dark .app .search-company-modal .search-symbol.typeahead {
    border-color: #666;
    background-color: #111;
}

.dark .app .search-company-modal .search-symbol.typeahead input {
    background-color: #111;
}

.dark.arabic .app .search-company-modal .search-symbol.typeahead input,
.dark.english .app .search-company-modal .search-symbol.typeahead input {
    border-color: #666;
}

.dark .app form .search-company-modal .search-symbol.typeahead input {
    background-color: #111;
}

.dark .app .search-company-modal .company-search-container .warning-message .warning-img:before {
    filter: none;
}
