<div bsModal #signinModal="bs-modal" class="modal fade signin centered" tabindex="-1" role="dialog"
     [config]="{backdrop:'static'}" (onHidden)="onHidden()">

  <div *ngIf="formFields" class="modal-dialog">

    <div class="modal-content">
      <form #signinForm="ngForm" class="form-horizontal signin-form" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <button type="button" class="close" (click)="onCancel()"><span>&times;</span></button>
          <h5 class="modal-title" i18n="@@signin_header">الدخول إلى حسابك</h5>
        </div>

        <div class="modal-body compact" [loading-mask-directive]="requestSigninSubscription">

          <div *ngIf="!loginDone">

            <div class="form-group form-label">
              <label class="col-sm-12" i18n="@@signin_title">الرجاء ادخال معلومات الدخول</label>
            </div>

            <div class="form-group">
              <label class="col-sm-3 col-xs-4 control-label" i18n="@@signin_username">اسم المستخدم</label>

              <div class="col-sm-9 col-xs-8">
                <input class="form-control" type="text" name="username" i18n-placeholder="@@signin_username"
                       placeholder="اسم المستخدم" [(ngModel)]="formFields.username" validateOnBlur
                       requiredInputValidator/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 col-xs-4 control-label" i18n="@@signin_password">كلمة السر</label>

              <div class="col-sm-9 col-xs-8">
                <password-field-wrapper>
                  <input class="form-control" type="password" name="password" i18n-placeholder="@@signin_password"
                         placeholder="كلمة السر" [(ngModel)]="formFields.password" requiredInputValidator (keyup.enter)="onSubmit()"/>
                </password-field-wrapper>
              </div>
            </div>

            <div *ngIf="invalidCredentials" class="invalid-login" i18n="@@signin_invalidCredentials">معلومات الدخول غير صحيحة. يرجى المحاولة مرة أخرى.</div>

            <div class="form-group">
              <label class="col-sm-3 control-label"></label>

              <div class="btns col-sm-9">
                <button type="submit" class="btn btn-success" i18n="@@signin_apply">موافق</button>
                <a class="btn btn-default" (click)="onCancel()" i18n="@@signin_cancel">الغاء</a>
              </div>
            </div>

            <div class="form-group forget-password">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9"><a (click)="onForgetPassword()" i18n="@@signin_retrieveCredentials">هل نسيت كلمة السر ؟</a></div>
            </div>

          </div>

          <div class="login-successful bold-font" [@showLoginDoneMessage]="showLoginDoneMessage" [class.hidden]="!loginDone">
            <div i18n="@@signin_successMessage">لقد تم الدخول بنجاح</div>
            <div i18n="@@signin_successRedirect">سوف يتم تحويلك إلى حسابك خلال ثوان ...</div>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
