<div bsModal #alertMessageBox="bs-modal" class="modal fade alert-notification" tabindex="-1" role="dialog" [config]="{backdrop:'static'}" >
    <div class="modal-dialog" *ngIf="alert">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" i18n="@@alert-notification_tickerchartAlert">تنبيه تكرتشارت</h4>
                <button type="button" class="close" (click)="onCloseModal()"><span>&times;</span></button>
            </div>

            <div class="modal-body">

              <div class="alert-header">
                <div class="alert-header-container">
                  <div class="bell-icon"></div>
                  <div *ngIf="alert.isNormalAlert()" class="alert-header-text" i18n="@@alert-notification_simpleAlert">تنبيه بسيط</div>
                  <div *ngIf="alert.isTrendLineAlert()" class="alert-header-text" i18n="@@alert-notification_trendLineAlert">تنبيه خط بياني</div>
                  <div *ngIf="alert.isChartAlert()" class="alert-header-text" i18n="@@alert-notification_chartAlert">تنبيه رسم بياني</div>
                </div>
              </div>

                <div class="alert-message">
                    <div class="alert-message-part alert-company">
                        <div class="col-sm-4" i18n="@@alert-notification_company">الشركة</div>
                        <div class="col-sm-8">{{alert.company.name}}</div>
                    </div>

                    <div class="alert-message-part alert-condition">
                        <div class="col-sm-4" i18n="@@alert-notification_condition">الشرط</div>
                        <div class="col-sm-8" [innerHTML]="alertCondition | englishMarker"></div>
                    </div>

                    <div class="alert-message-part alert-value">
                        <div class="col-sm-4" i18n="@@alert-notification_value">القيمة</div>
                        <div class="col-sm-8 english ltr">{{alert.getLastHistoryPoint().price}}</div>
                    </div>

                    <div class=" alert-message-part alert-date">
                        <div class="col-sm-4" i18n="@@alert-notification_achievedDate">وقت التحقق</div>
                        <div class="col-sm-8 english ltr">{{alert.getLastHistoryPoint().time}}</div>
                    </div>

                    <div class="alert-message-part alert-description" *ngIf="alert.message.length > 0">
                        <div class="col-sm-4" i18n="@@alert-notification_alertNote">ملاحظة التنبيه</div>
                        <div class="col-sm-8" [innerHTML]="alert.message | englishMarker"></div>
                    </div>
                </div>

              <div *ngIf="alert.isTrendLineAlert() || alert.isChartAlert()" class="alert-footer">
                <button class="btn btn-info show-alert-button" (click)="onShowAlertOnChart()">{{showAlertOnChartText}}</button>
              </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" (click)="onCloseModal()" i18n="@@alert-notification_close">اغلاق</button>
            </div>
        </div>
    </div>
</div>
