.alert-notification{
    font-weight: normal;
}

.alert-notification .modal-dialog {
    width: 500px;
}

.alert-notification .modal-dialog .modal-body .alert-header {
    border-bottom: 5px solid #333333;
    margin-bottom: 10px;
}

.alert-notification .modal-dialog .modal-body .alert-header .alert-header-container {
    display: inline-block;
}

.alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .bell-icon {
    width: 24px;
    height: 28px;
}

.alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .bell-icon:before {
    background-image: url('~img/alert-default-24.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    content: "";
    display: inline-block;
}

.alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .alert-header-text {
    font-size: 2rem;
    font-weight: bold;;
}

.alert-notification .modal-dialog .modal-body {
    padding: 10px;
}

.arabic .alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .bell-icon {
    margin-left: 10px;
    float: right;
}

.english .alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .bell-icon {
    margin-right: 10px;
    float: left;
}

.arabic .alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .alert-header-text {
    float: right;
}

.english .alert-notification .modal-dialog .modal-body .alert-header .alert-header-container .alert-header-text {
    float: left;
}

.alert-notification .modal-dialog .modal-body .alert-message .alert-message-part{
    margin-bottom: 15px;
    display:flex;
}

.arabic .alert-notification .modal-dialog .modal-body .alert-message .alert-message-part{
    text-align: right;
}

.english .alert-notification .modal-dialog .modal-body .alert-message .alert-message-part{
    text-align: left;
}

.alert-notification .modal-dialog .modal-body .alert-message .alert-message-part .col-sm-3{
    font-weight:bold;
}

.alert-notification .modal-dialog .modal-footer {
    text-align: center;
}

/* dark theme */
.dark .alert-notification .modal-dialog .modal-body .alert-header {
    border-bottom-color: #999;
}
