.selection.modal .modal-header .modal-title {
    font-size: 1.5rem;
}

.selection.modal .modal-body {
    padding: 0px;
}

.selection.modal .modal-body .entries {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;        
}

.selection.modal .modal-body .entries > div {
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor:default;
}

.selection.modal .modal-body .entries > div:hover {
    border-color: var(--button-border-color-hover);
    background-color: var(--button-back-color-hover);    
}

/* indicators css settings */
.selection.modal .modal-body .entries .indicators {
    direction:ltr;
    font-family: Arial;
}

/* font family */
.arabic .selection.modal .modal-header .modal-title {
    font-family: DroidArabicKufi-Bold;
}

.english .selection.modal .modal-header .modal-title {
    font-family: Tahoma Black;
}
