<div bsModal #selectionModal="bs-modal" class="modal fade selection" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="selectionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      
      <div class="modal-body">
        <div class="entries">
          <div *ngFor="let entry of entries" (click)="onSelection(entry)" class="{{cssClass}}">{{entry}}</div>
        </div>                        
      </div>
    </div>
  </div>
</div>
