.technical-scope-properties .modal-dialog {
    width: 768px;
}

.technical-scope-properties .modal-dialog .modal-body {
    display: flex;
    height: 520px;
}

.technical-scope-properties .signals-properties-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 0px 10px;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-color: #e0e0e0;
    width: 100%;
}

.technical-scope-properties .signals-properties-container .container-label {
    margin: 10px 0;
    font-size: 1.4rem;
    text-align: right;
    font-family: DroidArabicKufi-Bold;
}

.english .technical-scope-properties .signals-properties-container .container-label {
    text-align: left;
    font-family: Tahoma Black;
}

.technical-scope-properties .signals-properties-container .category-list {
    text-align: right;
    margin-bottom: 10px;
}

.english .technical-scope-properties .signals-properties-container .category-list {
    text-align: left;
}

.technical-scope-properties .signals-properties-container .category-list select {
    height: 27px;
    padding: 1px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #626262;
    font-size: 1.3rem;
    outline: none;
}

.technical-scope-properties .signals-properties-container .image-btn {
    display: flex;
    width: 100px;
    padding-right: 30px;
    cursor: pointer;
    color: black;
    text-align: right;
}

.technical-scope-properties .signals-properties-container .image-btn:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.technical-scope-properties .signals-properties-container .image-btn:hover {
    color: #ff4500;
}

.technical-scope-properties .signals-properties-container .image-btn.select-all-btn{
    padding-right: 0px;
    margin-bottom: 10px;
    height: 27px;
    width: 200px;
}

.technical-scope-properties .signals-properties-container .image-btn.select-all-btn:before {
    background-image: url('~img/watchlist-tickbox.png');
}

.technical-scope-properties .signals-properties-container .image-btn.select-all-btn:hover:before {
    background-image: url('~img/watchlist-tickbox-highlighted.png');
}

.technical-scope-properties .signals-properties-container .arrows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0;
    height: 370px;
}

.technical-scope-properties .signals-properties-container .arrows-container > div {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border-color: transparent;
}

.mobile .technical-scope-properties .signals-properties-container .arrows-container > div{
    width: 26px;
    margin-right: 5px;
    margin-left: 5px;
}

.technical-scope-properties .signals-properties-container .arrows-container > div:hover {
    background-color: white;
    border: 1px solid #8e8e8e;
}

.technical-scope-properties .signals-properties-container .arrows-container > div:before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.technical-scope-properties .signals-properties-container .arrows-container .to-left-arrow:before {
    background-image: url('~img/watchlist-left.png');
}

.english .technical-scope-properties .signals-properties-container .arrows-container .to-left-arrow:before {
    background-image: url('~img/watchlist-right.png');
}

.technical-scope-properties .signals-properties-container .arrows-container .to-right-arrow:before {
    background-image: url('~img/watchlist-right.png');
}

.english .technical-scope-properties .signals-properties-container .arrows-container .to-right-arrow:before {
    background-image: url('~img/watchlist-left.png');
}

/* mobile css */

.mobile .technical-scope-properties .modal-dialog {
    width: 99%;
}

.mobile .technical-scope-properties .modal-dialog .modal-body {
    padding: 5px;
    height: 460px;
}

.mobile .technical-scope-properties .signals-properties-container .container-label {
    font-size: 1.1rem;
    white-space: nowrap;
}

.mobile .technical-scope-properties .signals-properties-container .category-list select,
.mobile .technical-scope-properties .signals-properties-container .select-box .entry {
    font-size: 1.1rem;
    width: max-content;
}

.mobile .technical-scope-properties .signals-properties-container .select-box {
    overflow: auto;
}

.mobile .technical-scope-properties .signals-properties-container .from-container,
.mobile .technical-scope-properties .signals-properties-container .to-container {
    width: calc(50% - 18px);
}

.mobile .technical-scope-properties .signals-properties-container .arrows-container {
    margin-left: 0px;
    margin-right: 0px;
}

/*dark Theme */

.dark .technical-scope-properties .signals-properties-container {
    background-color: #555;
}

.dark .technical-scope-properties .signals-properties-container .image-btn {
    color: lightgrey;
}

.dark .technical-scope-properties .signals-properties-container .image-btn:hover {
    color: deepskyblue;
}

.dark .technical-scope-properties .signals-properties-container .image-btn.select-all-btn:before {
    opacity: 0.5;
}

.dark .technical-scope-properties .signals-properties-container .image-btn.select-all-btn:hover:before {
    opacity: 1;
}
