<div class="grid-body" [docking]="config.dockingConfig" [active]="active">
  <div *ngFor="let box of config.boxes()" [(docking-item)]="config.boxesConfig[box.id]" id="box-{{box.id}}" (onSizeChange)="onSizeChange($event)">
    <div *ngIf="box.type == gridBoxType.Chart">
      <chart-app #gridchild
             [width]="box.width"
             [height]="box.height"
             [page]="page" [id]="box.id"
             [loadSymbol]="initBoxSymbol(box.id)"
             [loadPublishedIdea]="initBoxParam(box.id)"
             (close)="onCloseBox($event)"></chart-app>
    </div>
    <div *ngIf="box.type == gridBoxType.Marketwatch">
      <marketwatch #gridchild [width]="box.width"
                   [height]="box.height"
                   [page]="page"
                   [id]="box.id"
                   [inputWatchlistId]="initBoxMarket(box.id)"
                   (close)="onCloseBox($event)"></marketwatch>
    </div>
      <div *ngIf="box.type == gridBoxType.IndexAnalysis">
          <index-analysis #gridchild [width]="box.width"
                       [height]="box.height"
                       [page]="page"
                       [id]="box.id"
                       (close)="onCloseBox($event)"></index-analysis>
      </div>
    <div *ngIf="box.type == gridBoxType.TimeAndSale">
      <time-and-sale #gridchild
                     [width]="box.width"
                     [height]="box.height"
                     [page]="page"
                     [id]="box.id"
                     [loadSymbol]="initBoxSymbol(box.id)"
                     (close)="onCloseBox($event)"></time-and-sale>
    </div>
    <div *ngIf="box.type == gridBoxType.MarketDepthByOrder">
      <market-depth-by-order #gridchild
                             [width]="box.width"
                             [height]="box.height"
                             [page]="page"
                             [id]="box.id"
                             [loadSymbol]="initBoxSymbol(box.id)"
                             (close)="onCloseBox($event)"></market-depth-by-order>
    </div>
    <div *ngIf="box.type == gridBoxType.MarketDepthByPrice">
      <market-depth-by-price #gridchild
                             [width]="box.width"
                             [height]="box.height"
                             [page]="page"
                             [id]="box.id"
                             [loadSymbol]="initBoxSymbol(box.id)"
                             (close)="onCloseBox($event)"></market-depth-by-price>
    </div>
    <div *ngIf="box.type == gridBoxType.MarketAlerts">
      <market-alerts #gridchild
                     [width]="box.width"
                     [height]="box.height"
                     [page]="page"
                     [id]="box.id"
                     [inputWatchlistId]="initBoxMarket(box.id)"
                     (close)="onCloseBox($event)"></market-alerts>
    </div>
    <div *ngIf="box.type == gridBoxType.TechnicalScope">
      <technical-scope #gridchild
                       [width]="box.width"
                       [height]="box.height"
                       [page]="page"
                       [id]="box.id"
                       [inputWatchlistId]="initBoxMarket(box.id)"
                       (close)="onCloseBox($event)"></technical-scope>
    </div>
    <div *ngIf="box.type == gridBoxType.Shareholders">
      <shareholders #gridchild
                    [width]="box.width"
                    [height]="box.height"
                    [page]="page"
                    [id]="box.id"
                    (close)="onCloseBox($event)"></shareholders>
    </div>

    <div *ngIf="box.type == gridBoxType.FinancialData">
    <financial-data #gridchild
                    [width]="box.width"
                    [height]="box.height"
                    [page]="page"
                    [id]="box.id"
                    (close)="onCloseBox($event)"></financial-data>
    </div>

 <div *ngIf="box.type == gridBoxType.CompanyFinancialStatements">
     <company-financial-statements #gridchild
                                   [width]="box.width"
                                   [height]="box.height"
                                   [page]="page"
                                   [id]="box.id"
                                   [loadSymbol]="initBoxSymbol(box.id)"
                                   [financialStatementType]="initBoxParam(box.id)"
                                   (close)="onCloseBox($event)"></company-financial-statements>
    </div>
    <div *ngIf="box.type == gridBoxType.TradesSummary">
        <trades-summary #gridchild
                        [width]="box.width"
                        [height]="box.height"
                        [page]="page"
                        [id]="box.id"
                        [loadSymbol]="initBoxSymbol(box.id)"
                        (close)="onCloseBox($event)"></trades-summary>
    </div>
      <div *ngIf="box.type == gridBoxType.MarketMovers">
          <market-movers #gridchild
                      [width]="box.width"
                      [height]="box.height"
                      [page]="page"
                      [id]="box.id"
                      (close)="onCloseBox($event)"></market-movers>
      </div>
    <div *ngIf="box.type == gridBoxType.BigTrades">
      <big-trades #gridchild
                  [width]="box.width"
                  [height]="box.height"
                  [page]="page"
                  [id]="box.id"
                  [inputWatchlistId]="initBoxMarket(box.id)"
                  (close)="onCloseBox($event)"></big-trades>
    </div>
    <div *ngIf="box.type == gridBoxType.MarketTrades">
      <market-trades  #gridchild
                      [width]="box.width"
                      [height]="box.height"
                      [page]="page"
                      [id]="box.id"
                      [inputWatchlistId]="initBoxMarket(box.id)"
                      (close)="onCloseBox($event)"></market-trades>
    </div>
    <div *ngIf="box.type == gridBoxType.DetailedQuote">
      <detailed-quote #gridchild
                      [width]="box.width"
                      [height]="box.height"
                      [page]="page"
                      [id]="box.id"
                      [loadSymbol]="initBoxSymbol(box.id)"
                      (close)="onCloseBox($event)"></detailed-quote>
    </div>
    <div *ngIf="box.type == gridBoxType.CompanyNews">
      <company-news #gridchild
                    [width]="box.width"
                    [height]="box.height"
                    [page]="page"
                    [id]="box.id"
                    [loadSymbol]="initBoxSymbol(box.id)"
                    (close)="onCloseBox($event)"></company-news>
    </div>
    <div *ngIf="box.type == gridBoxType.MarketPreOpen">
      <market-preopen #gridchild
                    [width]="box.width"
                    [height]="box.height"
                    [page]="page"
                    [id]="box.id"
                    (close)="onCloseBox($event)"></market-preopen>
    </div>
    <div *ngIf="box.type == gridBoxType.AnalysisCenter">
      <analysis-center #gridchild
                       [width]="box.width"
                       [height]="box.height"
                       [page]="page"
                       [id]="box.id"
                       [inputSelection]="initBoxParam(box.id)"
                       (close)="onCloseBox($event)"></analysis-center>
    </div>

    <div *ngIf="box.type == gridBoxType.DerayahWallet">
      <derayah-wallet #gridchild
                       [width]="box.width"
                       [height]="box.height"
                       [page]="page"
                       [id]="box.id"
                       (close)="onCloseBox($event)"></derayah-wallet>
    </div>

    <div *ngIf="box.type == gridBoxType.DerayahOrders">
      <derayah-orders #gridchild
                       [width]="box.width"
                       [height]="box.height"
                       [page]="page"
                       [id]="box.id"
                       (close)="onCloseBox($event)"></derayah-orders>
    </div>

      <div *ngIf="box.type == gridBoxType.SnbcapitalWallet">
          <snbcapital-wallet #gridchild
                             [width]="box.width"
                             [height]="box.height"
                             [page]="page"
                             [id]="box.id"
                             (close)="onCloseBox($event)"></snbcapital-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.SnbcapitalOrders">
          <snbcapital-orders #gridchild
                             [width]="box.width"
                             [height]="box.height"
                             [page]="page"
                             [id]="box.id"
                             (close)="onCloseBox($event)"></snbcapital-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.SnbcapitalOrderSearch">
          <snbcapital-order-search #gridchild
                                   [width]="box.width"
                                   [height]="box.height"
                                   [page]="page"
                                   [id]="box.id"
                                   (close)="onCloseBox($event)"></snbcapital-order-search>

      </div>
      <div *ngIf="box.type == gridBoxType.SnbcapitalAccountBalance">
          <snbcapital-account-balance #gridchild
                                      [width]="box.width"
                                      [height]="box.height"
                                      [page]="page"
                                      [id]="box.id"
                                      (close)="onCloseBox($event)"></snbcapital-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.RiyadcapitalWallet">
          <riyadcapital-wallet #gridchild
                                 [width]="box.width"
                                 [height]="box.height"
                                 [page]="page"
                                 [id]="box.id"
                                 (close)="onCloseBox($event)"></riyadcapital-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.RiyadcapitalOrders">
          <riyadcapital-orders #gridchild
                                 [width]="box.width"
                                 [height]="box.height"
                                 [page]="page"
                                 [id]="box.id"
                                 (close)="onCloseBox($event)"></riyadcapital-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.RiyadcapitalOrderSearch">
          <riyadcapital-order-search #gridchild
                                       [width]="box.width"
                                       [height]="box.height"
                                       [page]="page"
                                       [id]="box.id"
                                       (close)="onCloseBox($event)"></riyadcapital-order-search>

      </div>

      <div *ngIf="box.type == gridBoxType.RiyadcapitalAccountBalance">
          <riyadcapital-account-balance #gridchild
                                          [width]="box.width"
                                          [height]="box.height"
                                          [page]="page"
                                          [id]="box.id"
                                          (close)="onCloseBox($event)"></riyadcapital-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.AlinmainvestWallet">
          <alinmainvest-wallet #gridchild
                                 [width]="box.width"
                                 [height]="box.height"
                                 [page]="page"
                                 [id]="box.id"
                                 (close)="onCloseBox($event)"></alinmainvest-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.AlinmainvestOrders">
          <alinmainvest-orders #gridchild
                                 [width]="box.width"
                                 [height]="box.height"
                                 [page]="page"
                                 [id]="box.id"
                                 (close)="onCloseBox($event)"></alinmainvest-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.AlinmainvestOrderSearch">
          <alinmainvest-order-search #gridchild
                                       [width]="box.width"
                                       [height]="box.height"
                                       [page]="page"
                                       [id]="box.id"
                                       (close)="onCloseBox($event)"></alinmainvest-order-search>
      </div>

      <div *ngIf="box.type == gridBoxType.AlinmainvestAccountBalance">
          <alinmainvest-account-balance #gridchild
                                          [width]="box.width"
                                          [height]="box.height"
                                          [page]="page"
                                          [id]="box.id"
                                          (close)="onCloseBox($event)"></alinmainvest-account-balance>
      </div>

      <div *ngIf="box.type == gridBoxType.AljaziracapitalWallet">
          <aljaziracapital-wallet #gridchild
                                  [width]="box.width"
                                  [height]="box.height"
                                  [page]="page"
                                  [id]="box.id"
                                  (close)="onCloseBox($event)"></aljaziracapital-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.AljaziracapitalOrders">
          <aljaziracapital-orders #gridchild
                                  [width]="box.width"
                                  [height]="box.height"
                                  [page]="page"
                                  [id]="box.id"
                                  (close)="onCloseBox($event)"></aljaziracapital-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.AljaziracapitalOrderSearch">
          <aljaziracapital-order-search #gridchild
                                        [width]="box.width"
                                        [height]="box.height"
                                        [page]="page"
                                        [id]="box.id"
                                        (close)="onCloseBox($event)"></aljaziracapital-order-search>

      </div>

      <div *ngIf="box.type == gridBoxType.AljaziracapitalAccountBalance">
          <aljaziracapital-account-balance #gridchild
                                        [width]="box.width"
                                        [height]="box.height"
                                        [page]="page"
                                        [id]="box.id"
                                        (close)="onCloseBox($event)"></aljaziracapital-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.AlrajhicapitalOrders">
          <alrajhicapital-orders #gridchild
                             [width]="box.width"
                             [height]="box.height"
                             [page]="page"
                             [id]="box.id"
                             (close)="onCloseBox($event)"></alrajhicapital-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.AlrajhicapitalOrderSearch">
          <alrajhicapital-order-search #gridchild
                                   [width]="box.width"
                                   [height]="box.height"
                                   [page]="page"
                                   [id]="box.id"
                                   (close)="onCloseBox($event)"></alrajhicapital-order-search>

      </div>

      <div *ngIf="box.type == gridBoxType.AlrajhicapitalAccountBalance">
          <alrajhicapital-account-balance #gridchild
                                      [width]="box.width"
                                      [height]="box.height"
                                      [page]="page"
                                      [id]="box.id"
                                      (close)="onCloseBox($event)"></alrajhicapital-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.AlrajhicapitalWallet">
          <alrajhicapital-wallet #gridchild
                             [width]="box.width"
                             [height]="box.height"
                             [page]="page"
                             [id]="box.id"
                             (close)="onCloseBox($event)"></alrajhicapital-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.MusharakaWallet">
          <musharaka-wallet #gridchild
                               [width]="box.width"
                               [height]="box.height"
                               [page]="page"
                               [id]="box.id"
                               (close)="onCloseBox($event)"></musharaka-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.MusharakaOrders">
          <musharaka-orders #gridchild
                               [width]="box.width"
                               [height]="box.height"
                               [page]="page"
                               [id]="box.id"
                               (close)="onCloseBox($event)"></musharaka-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.MusharakaOrderSearch">
          <musharaka-order-search #gridchild
                                     [width]="box.width"
                                     [height]="box.height"
                                     [page]="page"
                                     [id]="box.id"
                                     (close)="onCloseBox($event)"></musharaka-order-search>

      </div>

      <div *ngIf="box.type == gridBoxType.MusharakaAccountBalance">
          <musharaka-account-balance #gridchild
                                        [width]="box.width"
                                        [height]="box.height"
                                        [page]="page"
                                        [id]="box.id"
                                        (close)="onCloseBox($event)"></musharaka-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.BsfWallet">
          <bsf-wallet #gridchild
                      [width]="box.width"
                      [height]="box.height"
                      [page]="page"
                      [id]="box.id"
                      (close)="onCloseBox($event)"></bsf-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.BsfOrders">
          <bsf-orders #gridchild
                      [width]="box.width"
                      [height]="box.height"
                      [page]="page"
                      [id]="box.id"
                      (close)="onCloseBox($event)"></bsf-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.BsfOrderSearch">
          <bsf-order-search #gridchild
                            [width]="box.width"
                            [height]="box.height"
                            [page]="page"
                            [id]="box.id"
                            (close)="onCloseBox($event)"></bsf-order-search>

      </div>

      <div *ngIf="box.type == gridBoxType.BsfAccountBalance">
          <bsf-account-balance #gridchild
                               [width]="box.width"
                               [height]="box.height"
                               [page]="page"
                               [id]="box.id"
                               (close)="onCloseBox($event)"></bsf-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.AlkhabeercapitalWallet">
          <alkhabeercapital-wallet #gridchild
                                   [width]="box.width"
                                   [height]="box.height"
                                   [page]="page"
                                   [id]="box.id"
                                   (close)="onCloseBox($event)"></alkhabeercapital-wallet>
      </div>

      <div *ngIf="box.type == gridBoxType.AlkhabeercapitalOrders">
          <alkhabeercapital-orders #gridchild
                                   [width]="box.width"
                                   [height]="box.height"
                                   [page]="page"
                                   [id]="box.id"
                                   (close)="onCloseBox($event)"></alkhabeercapital-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.AlkhabeercapitalOrderSearch">
          <alkhabeercapital-order-search #gridchild
                                         [width]="box.width"
                                         [height]="box.height"
                                         [page]="page"
                                         [id]="box.id"
                                         (close)="onCloseBox($event)"></alkhabeercapital-order-search>

      </div>

      <div *ngIf="box.type == gridBoxType.AlkhabeercapitalAccountBalance">
          <alkhabeercapital-account-balance #gridchild
                                            [width]="box.width"
                                            [height]="box.height"
                                            [page]="page"
                                            [id]="box.id"
                                            (close)="onCloseBox($event)"></alkhabeercapital-account-balance>

      </div>

      <div *ngIf="box.type == gridBoxType.VirtualTradingPositions">
      <virtual-trading-positions
              #gridchild
              [width]="box.width"
              [height]="box.height"
              [page]="page"
              [id]="box.id"
              (close)="onCloseBox($event)"></virtual-trading-positions>
    </div>

    <div *ngIf="box.type == gridBoxType.VirtualTradingOrders">
      <virtual-trading-orders
              #gridchild
              [width]="box.width"
              [height]="box.height"
              [page]="page"
              [id]="box.id"
              (close)="onCloseBox($event)"></virtual-trading-orders>
    </div>

      <div *ngIf="box.type == gridBoxType.TradestationOrders">
          <tradestation-orders #gridchild
                          [width]="box.width"
                          [height]="box.height"
                          [page]="page"
                          [id]="box.id"
                          (close)="onCloseBox($event)"></tradestation-orders>
      </div>

      <div *ngIf="box.type == gridBoxType.TradestationPositions">
          <tradestation-positions #gridchild
                               [width]="box.width"
                               [height]="box.height"
                               [page]="page"
                               [id]="box.id"
                               (close)="onCloseBox($event)"></tradestation-positions>
      </div>
      <div *ngIf="box.type == gridBoxType.TradestationAccountBalance">
          <tradestation-account-balance #gridchild
                                        [width]="box.width"
                                        [height]="box.height"
                                        [page]="page"
                                        [id]="box.id"
                                        (close)="onCloseBox($event)"></tradestation-account-balance>

      </div>
  </div>

  <!-- MA needed for docking, could be auto-generated within the directive -->
  <div class="docking-container-separator"></div>
  <div class="docking-container-placeholder"></div>
  <div class="docking-container-arrows">
    <div class="docking-arrow right"></div>
    <div class="docking-arrow top"></div>
    <div class="docking-arrow left"></div>
    <div class="docking-arrow bottom"></div>
  </div>
  <div class="docking-container-root-icon"></div>

</div>




