.loading-mask {
    z-index: 1002;
}

.loading-mask, .loading-mask > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading-mask-wrapper {
    text-align: center;

}

.loading-mask-wrapper:before {
    /*background-image: url("~img/loading-data.gif");*/
    background-position:center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    content:"";
    display: inline-block;
}

.loading-mask-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff;
    opacity: .7;
}
