.auto-link {
    height: 22px;
    width: 20px;
}

.auto-link .color-holder {
    width:6px;
    height: 14px;
    display: flex;
}

.auto-link .color-holder:before {
    content: "";
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.arabic .auto-link .color-holder {
    margin-left: 10px;
}

.english .auto-link .color-holder {
    margin-right: 10px;
}

.auto-link .color-holder.toolbar {
    margin: 0 auto;
    margin-top: 4px;
    display: inline-block;
}

.auto-link .color-holder.green:before {
    background-image: url('~img/color-bars-green.png');
}

.auto-link .color-holder.brown:before {
    background-image: url('~img/color-bars-brown.png');
}

.auto-link .color-holder.blue:before {
    background-image: url('~img/color-bars-blue.png');
}

.auto-link .color-holder.none:before {
    background-image: url('~img/color-bars-none.png');
}

.auto-link .color-holder.orange:before {
    background-image: url('~img/color-bars-orange.png');
}

.auto-link .color-holder.red:before {
    background-image: url('~img/color-bars-red.png');
}

.auto-link .color-holder.yellow:before {
    background-image: url('~img/color-bars-yellow.png');
}

/* dark theme */
.dark .auto-link *:before {
    filter: none;
}

.dark .auto-link .color-holder:before {
    width: 4px;
    height: 12px;
}

.dark .auto-link .color-holder.none:before {
    filter: brightness(0.5);
}
