.delayed-data-grid-message {
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.delayed-data-grid-message .warning-icon {
    width: 25px;
    height: 25px;
    margin-top: 40px;
    display: inline-flex;
    background-repeat: no-repeat;
    /*background-image: url('~img/popup-alert.png');*/
}

.dark .delayed-data-grid-message .warning-icon {
    /*background-image: url('~img/popup-alert-dark.png');;*/
}

.delayed-data-grid-message .message {
    margin-top: 5px;
    font-size: 18px;
}

.mobile .delayed-data-grid-message .message {
    font-size: 14px;
}

.mobile .delayed-data-grid-message .warning-icon {
    margin-top: 10px;
}

.dark .delayed-data-grid-message .message {
     color: lightgrey;
 }
