.support-info {
    text-align: right;
}

.english .support-info {
    text-align: left;
}

.arabic .app .modal.support-info .modal-header .modal-title {
    font-size: 1.7rem;
    font-family: DroidSansArabic;
}

.support-info .support-info-container .welcome-message ,
.support-info .support-info-container .work-time-days {
    margin-bottom: 20px;
}

.support-info .support-info-container .welcome-message > div:first-child ,
.support-info .support-info-container .work-time-days > div:first-child {
    margin-bottom: 10px;
}

.support-info .support-info-container .welcome-message .welcome-text {
    display: flex;
    font-size: 1.6rem;
    font-family: DroidArabicKufi-Bold;
}

.support-info .support-info-container .welcome-message .welcome-text > div{
    margin-left: 5px;
}

.english .support-info .support-info-container .welcome-message .welcome-text > div{
    margin-right: 5px;
    margin-left: 0;
}

.support-info .support-info-container .welcome-message .welcome-note {
    font-size: 1.3rem;
}

.support-info .support-info-container .paragraph-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    max-width: 90%;
}

.mobile .support-info .support-info-container .paragraph-title {
    max-width: 100%;
}

.support-info .support-info-container .paragraph-title::after {
    content: "";
    border-bottom:1px solid gray ;
    flex: 1 1;
    max-width: 75%;
    margin-right: 10px;
}

.english .support-info .support-info-container .paragraph-title::after {
    margin-left: 10px;
    margin-right: 0;
}

.support-info .support-info-container .work-time-days .hours-days {
    display: flex;
    margin-right: 90px;
    max-width: 305px;
    justify-content: space-between;
}

.english .support-info .support-info-container .work-time-days .hours-days {
    margin-left: 90px;
    margin-right: 0;
}

.mobile .support-info .support-info-container .work-time-days .hours-days {
    margin-right: 60px;
    max-width: 250px;
}

.support-info .support-info-container .work-time-days .hours-days .working-days,
.support-info .support-info-container .work-time-days .hours-days .working-hours,
.support-info .support-info-container .communications-channels-container .communications-channels .phone1-container .phone1 ,
.support-info .support-info-container .communications-channels-container .communications-channels .phone2-container .phone2 {
    color: darkgoldenrod;
    font-weight: bold;
}

.support-info .support-info-container .communications-channels-container .communications-channels .phone1-container .phone1 ,
.support-info .support-info-container .communications-channels-container .communications-channels .phone2-container .phone2 ,
.support-info .support-info-container .communications-channels-container .communications-channels .whatsapp-number {
    direction: ltr;
}

.support-info .support-info-container .communications-channels-container > div:first-child {
    margin-bottom: 20px;
}

.support-info .support-info-container .communications-channels-container .communications-channels {
    margin-right: 30px;
}

.english .support-info .support-info-container .communications-channels-container .communications-channels {
    margin-left: 30px;
    margin-right: 0;
}

.mobile .support-info .support-info-container .communications-channels-container .communications-channels {
    margin-right: 0;
}

.support-info .support-info-container .communications-channels-container .communications-channels > div{
    display: flex;
    align-items: center;
}

.support-info .support-info-container .communications-channels-container .communications-channels > div:not(:last-child) {
    margin-bottom: 20px;
}

.support-info .support-info-container .communications-channels-container .communications-channels .phone1-container {
    padding-left: 30px;
    border-left: 1px solid gray;
}

.english .support-info .support-info-container .communications-channels-container .communications-channels .phone1-container {
    padding-right: 30px;
    border-right: 1px solid gray;
    padding-left: 0;
    border-left: none;
}

.support-info .support-info-container .communications-channels-container .communications-channels .phone2-container {
    padding-right: 30px;
}

.english .support-info .support-info-container .communications-channels-container .communications-channels .phone2-container {
    padding-left: 30px;
    padding-right: 0;
}

.support-info .support-info-container .communications-channels-container .communications-channels .phone1-container div:first-child ,
.support-info .support-info-container .communications-channels-container .communications-channels .phone2-container div:first-child  {
    padding-bottom: 5px;
}

.support-info .support-info-container .communications-channels-container .communications-channels .whatsapp-number {
    padding-right: 10px;
}

.english .support-info .support-info-container .communications-channels-container .communications-channels .whatsapp-number {
    padding-left: 10px;
    padding-right: 0;
}

.support-info .support-info-container .communications-channels-container .communications-channels .send-email-text ,
.support-info .support-info-container .communications-channels-container .communications-channels .whatsapp-number {
    color: rgb(40,148,187);
    cursor: pointer;
    font-weight: bold;
}

.support-info .support-info-container .communications-channels-container .communications-channels .send-email-text:hover ,
.support-info .support-info-container .communications-channels-container .communications-channels .whatsapp-number:hover {
    color: #68B4CF;
}

.support-info .support-info-container .communications-channels-container .communications-channels .icon {
     width: 40px;
     height: 40px;
     margin-left: 20px;
}

.english .support-info .support-info-container .communications-channels-container .communications-channels .icon {
    margin-right: 20px;
    margin-left: 0;
}

.support-info .support-info-container .communications-channels-container .communications-channels .icon:before {
    content: "";
    display: inline-block;
    background: no-repeat center;
    width: 100%;
    height: 100%;
}

.support-info .support-info-container .communications-channels-container .communications-channels .phone-icon:before {
    background-image: url('~img/support-info-phone-icon.png');
}

.support-info .support-info-container .communications-channels-container .communications-channels .whatsapp-icon:before {
    background-image: url('~img/support-info-whatsapp-icon.png');
}

.support-info .support-info-container .communications-channels-container .communications-channels .mail-icon:before {
    background-image: url('~img/support-info-mail-icon.png');
}


/*Dark theme*/
.dark .support-info .support-info-container .work-time-days .hours-days .working-days,
.dark .support-info .support-info-container .work-time-days .hours-days .working-hours,
.dark .support-info .support-info-container .communications-channels-container .communications-channels .phone1-container .phone1 ,
.dark .support-info .support-info-container .communications-channels-container .communications-channels .phone2-container .phone2 {
    color: rgb(255,184,22);
}
