/* modal */

.filter-properties .modal-dialog {
    width: 900px;
}

.filter-properties .modal-dialog .modal-body {
    display: flex;
    height: 450px;
}

/* selext-box-container */

.filter-properties .select-box-container {
    width: 200px;
}

.filter-properties .select-box-container .select-box-buttons {
    display: flex;
}

.filter-properties .select-box-container .select-box-buttons .image-btn {
    display: flex;
    align-items: center;
}

.filter-properties .select-box-container .select-box-buttons .image-btn:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-properties .select-box-container .select-box-buttons .add-filter-btn:before {
    background-image: url('~img/watchlist-add.png');
}

.filter-properties .select-box-container .select-box-buttons .delete-filter-btn:before {
    background-image: url('~img/watchlist-close.png');
}

.filter-properties .select-box-container .select-box-buttons .add-filter-btn:hover:before {
    background-image: url('~img/watchlist-add-highlighted.png');
}

.filter-properties .select-box-container .select-box-buttons .delete-filter-btn:hover:before {
    background-image: url('~img/watchlist-close-highlighted.png');
}


/* image-btn */

.filter-properties .image-btn {
    width: 100px;
    cursor:pointer;
    color: black;
}

.arabic .filter-properties .image-btn {
    text-align:right;
}

.english .filter-properties .image-btn {
    text-align: left;
}


.filter-properties .image-btn:hover {
    color: #ff4500;
}

/* filter-container */

.filter-properties .filter-container {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    background-color:#e0e0e0;
}

.arabic .filter-properties .filter-container {
    margin-right: 10px;
}
.english .filter-properties .filter-container {
    margin-left: 10px;
}


/* dark theme */

.dark .filter-properties .image-btn {
    color: lightgrey;
}

.dark .filter-properties .image-btn:hover {
    color: deepskyblue;
}

.dark .filter-properties .filter-container {
    background-color: #444;
}
