<div bsModal #propertiesModal="bs-modal" class="modal fade filter-properties centered" tabindex="-1" role="dialog" [config]="{backdrop:'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="onCloseModal()">
          <span>&times;</span>
        </button>
        <h4 class="modal-title" i18n="@@filter-properties_header">لائحة التصفيات</h4>
      </div>
      <div class="modal-body">

        <div class="select-box-container">
          <div class="select-box-buttons">            
            <div class="add-filter-btn image-btn" (click)="onNewFilterModal()" i18n="@@filter-properties_add">إضافة</div>
            <div class="delete-filter-btn image-btn" (click)="onDeleteFilter()" i18n="@@filter-properties_delete">حذف</div>
          </div>          
          <select-box [entries]="filters" [selection]="selectedFilter" [width]="200" [height]="390" (outputSelection)="onChangeSelectedFilter($event)"></select-box>
        </div> <!-- select-box-container -->
        
        <div *ngIf="selectedFilter" class="filter-container">
          
          <div class="form-horizontal">          
            <div class="form-group">
              <label class="col-sm-3 control-label" i18n="@@filter-properties_filterName">اسم التصفية</label>
              <div class="col-sm-9">
                <input #filterName [ngModel]="selectedFilter.name" (change)="onChangeName(filterName.value)" type="text" class="form-control" name="name">
              </div>
            </div>            
          </div>
          
          <div *ngIf="selectedFilter" class="filter-editor-container">
            <composite-condition-editor [condition]="selectedFilter.condition" (outputCondition)="onChangeCondition($event)"></composite-condition-editor>         
          </div> 
          
        </div> <!-- filter-container -->
        
      </div> <!-- modal-body -->
      
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="onDone()" i18n="@@filter-properties_apply">موافق</button>
      </div>
    </div>
  </div>
</div>
