.following-notifications {
    height: 100%;
    overflow-x: hidden;
    font-size: 1.2rem;
    direction: rtl;
    text-align: right;
}

.english .following-notifications {
    direction: ltr;
    text-align: left;
}

.following-notifications::-webkit-scrollbar {
    width: 5px;
}

.following-notifications::-webkit-scrollbar-thumb {
    background: lightgrey;
}

.following-notifications::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

.following-notifications .notification {
    display: flex;
    flex-direction: row;
    min-width: 340px;
    background-color: white;
    border-bottom: #b2b5be 1px solid;
}

.following-notifications .notification.no-border {
    border-bottom: none;
}

.following-notifications .notification.new-notification {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

@keyframes flash {
    0% { background-color: #F4BC6A; }
    25% { background-color: #F4BC6A; }
    75% { background-color: #F4BC6A; }
    100% { background-color: white; }
}

.following-notifications .notification .avatar img ,
.following-notifications .notification .avatar .default-avatar {
    width: 30px;
    height: 30px;
}

.following-notifications .notification .avatar .default-avatar:before {
    width: 30px;
    height: 30px;
    content: " ";
    display: inline-block;
    background: url("~img/analyst_default_avatar.png") no-repeat center;
}

.following-notifications .notification .avatar {
    width: 40px;
    padding: 0 5px;
    margin-top: 5px;
}

.following-notifications .notification .notification-info {
    flex: 1;
}

.following-notifications .notification .notification-info .notification-header-info {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.following-notifications .notification .notification-info .notification-header-info .notification-owner-info {
    flex: 1;
    display: flex;
    align-items: center;
    line-height: 30px;
}

.following-notifications .notification .notification-info .notification-header-info .notification-owner-info .name {
    font-size: 1.3rem;
}

.following-notifications .notification .notification-info .notification-header-info .notification-owner-info .user-type ,
.following-notifications .notification .notification-info .notification-type-date .date {
    margin-right: 10px;
}

.english .following-notifications .notification .notification-info .notification-header-info .notification-owner-info .user-type ,
.english .following-notifications .notification .notification-info .notification-type-date .date {
    margin-left: 10px;
}

.following-notifications .notification .notification-info .notification-header-info .notification-owner-info .user-type {
    color: black;
    background-color: #FDB703;
    border-radius: 15px;
    padding: 0 7px;
    line-height: 20px;
    font-size: 1rem;
}

.following-notifications .notification .notification-info .notification-header-info .vertical-dots-icon {
    height: 23px;
    padding: 1px;
    border-radius: 2px;
    margin-left: 5px;
}
.english .following-notifications .notification .notification-info .notification-header-info .vertical-dots-icon{
    margin-right: 5px;
}


.following-notifications .notification .notification-info .notification-header-info .vertical-dots-icon:hover  {
    background-color: lightgrey;
    cursor: pointer;
}

.following-notifications .notification .notification-info .notification-header-info .vertical-dots-icon:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    background: no-repeat center;
    background-image: url('~img/context-menu.png');
}

.following-notifications .notification .notification-info .notification-type-date {
    line-height: 40px;
    display: flex;
    align-items: center;
}

.following-notifications .notification .notification-info .notification-type-date .user-follow ,
.following-notifications .notification .notification-info .notification-type-date .idea-like ,
.following-notifications .notification .notification-info .notification-type-date .idea-follow ,
.following-notifications .notification .notification-info .notification-type-date .idea-comment {
    line-height: 20px;
    padding: 0 7px;
    color: white;
}

.following-notifications .notification .notification-info .notification-type-date .user-follow {
    background-color: #F73721;
}

.following-notifications .notification .notification-info .notification-type-date .idea-like {
    background-color: #3172E7;
}

.following-notifications .notification .notification-info .notification-type-date .idea-follow {
    background-color: #6D456D;
}

.following-notifications .notification .notification-info .notification-type-date .idea-comment {
    background-color: #679121;
}


.following-notifications .notification .notification-info .idea-title ,
.following-notifications .notification .notification-info .symbol-and-interval {
    line-height: 30px;
}

.following-notifications .notification .notification-info .symbol-and-interval {
    display: flex;
    align-items: center;
}

.following-notifications .notification .notification-info .symbol-and-interval .interval-name {
    padding-right: 3px;
}

.english .following-notifications .notification .notification-info .symbol-and-interval .interval-name {
    padding-left: 3px;
}

.following-notifications .notification .notification-info .idea-title:hover ,
.following-notifications .notification .notification-info .notification-header-info .notification-owner-info .name:hover ,
.following-notifications .notification .notification-info .symbol-and-interval .symbol:hover {
    cursor: pointer;
    color: #1e88e5;
}

.following-notifications .notification .notification-info .attachment-container {
    width: 249px;
    height: 142px;
    min-height: 142px;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
}

.following-notifications .notification .notification-info .attachment-container img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.following-notifications .notification .notification-info .attachment-container > div {
    position: absolute;
}

.following-notifications .notification .notification-info .attachment-container .video-url-container {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.following-notifications .notification .notification-info .attachment-container .video-player-icon {
    width: 35px;
    height: 30px;
    margin: auto;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: url('~img/video-player.png') no-repeat center;
}

.following-notifications .notification .notification-info .idea-description {
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
}

.following-notifications .notification .notification-info .show-more {
    cursor: pointer;
    color: #1e88e5;
    width: 50px;
}

.following-notifications .notification .bold-text {
    font-family: DroidArabicKufi-Bold;
    color: black;
}

.following-notifications .notification .wrap-text {
    word-wrap: break-word;
    width: 300px;
}

/*dark theme*/
.dark .following-notifications .notification {
    background-color: #333;
    color: white;
}

.dark .following-notifications::-webkit-scrollbar {
    width: 8px;
}

.dark .following-notifications::-webkit-scrollbar-thumb,
.dark .following-notifications::-webkit-scrollbar-thumb:hover {
    background: #717171;
}

.dark .following-notifications .notification .bold-text ,
.dark .following-notifications .notification .notification-info .notification-type-date > div {
    color: white;
}

.dark .following-notifications .notification .notification-info .notification-type-date .idea-follow {
    background-color: #A572A5;
}

.dark .following-notifications .notification .notification-info .notification-type-date .idea-like {
    background-color: #6495ED;
}

.dark .following-notifications .notification .notification-info .notification-type-date .idea-comment {
    background-color: #85BC2B;
}

.dark .following-notifications .notification .notification-info .notification-type-date .user-follow {
    background-color: #FA8072;
}

.dark .following-notifications .notification .notification-info .notification-header-info .vertical-dots-icon:hover {
    background-color:#444
}

.dark .following-notifications .notification.new-notification {
    animation-name: dark-flash;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

.dark .following-notifications .notification .notification-info .attachment-container .video-url-container {
    background-color: #444;
}

@keyframes dark-flash {
    0% { background-color: #F2A11F; }
    25% { background-color: #F2A11F; }
    75% { background-color: #F2A11F; }
    100% { background-color: #333333; }
}
