.forget-password .bold-font {
    font-family: DroidArabicKufi-Bold;
}

.english .forget-password .bold-font {
    font-family: "Tahoma Black";
}

.forget-password .modal-dialog .modal-content input {
    color: black;
}

.forget-password .modal-dialog .modal-content input::placeholder {
    color: #999;
}

.forget-password .modal-dialog .modal-content  .btns > * {
    margin-left: 10px;
}

.english .forget-password .modal-dialog .modal-content .btns > * {
    margin-left: 0px;
    margin-right: 10px;
}

.forget-password .modal-dialog .modal-content .modal-body {
    min-height: 146px;
}

.forget-password .modal-dialog .modal-content form .modal-body .form-label {
    margin: 5px 0 20px 0;
    padding: 7px;
    line-height: 25px;
    font-size: 1.4rem;
    border-color: #31708f;
}

.mobile .forget-password .modal-dialog .modal-content form .modal-body  .form-label {
    font-size: 1.2rem;
}

.mobile .forget-password .modal-dialog .modal-content .mobile-number-form .modal-body .form-group > div {
    padding-right: 3px;
}

.mobile .forget-password .modal-dialog .modal-content .mobile-number-form .modal-body .form-group .btns {
    float: left;
    margin-left: 15px;
}

.mobile .forget-password .modal-dialog .modal-content .mobile-verification-form .modal-body .form-group .control-label {
    padding-left: 12px;
}

.mobile .forget-password .modal-dialog .modal-content .mobile-verification-form .modal-body .form-group .btns{
    float: left;
}
.forget-password .modal-dialog .modal-content .mobile-verification-form .modal-body .form-group .resend-code {
    font-size: 1.2rem;
    cursor: pointer;
}

.mobile .forget-password .modal-dialog .modal-content .change-password-form .modal-body .form-label {
    font-size: 1.1rem;
}
.mobile .forget-password .modal-dialog .modal-content .change-password-form .modal-body .form-group .control-label {
    white-space: nowrap;
}

/*Success-message*/

.mobile .forget-password .modal-dialog .modal-content .password-changed{
    width: 300px;
}

.forget-password .modal-dialog .modal-content .password-changed .modal-body {
    min-height: 85px;
}

.forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    background-color: honeydew;
    border: 1px solid darkgray;
}

.mobile .forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg {
    font-size: 1.5rem;
}

.forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg .success-icon {
    width:55px;
    height: 55px;
}

.forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg .success-icon:before {
    background-image: url('~img/correct.png');
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width:100%;
    height:100%;
    display: inline-block;
}

.forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg .success-text {
    color: darkgreen;
}

/* dark theme */

.dark .forget-password .modal-dialog .modal-content input {
    color: white;
}

.dark .forget-password .modal-dialog .modal-content form .modal-body .form-label {
    border-color: #31708f;
    color: #00bfff;
    background-color: #4a5154;
}

.dark .forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg {
    background-color: transparent;
    border: 1px solid #b9fab5;
}

.dark .forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg .success-icon:before {
    filter: none;
}

.dark .forget-password .modal-dialog .modal-content .password-changed .modal-body .success-msg .success-text {
    color: #8fd878;
}
