<div class="forget-password modal fade  centered" bsModal #forgetPasswordModal="bs-modal"  tabindex="-1" role="dialog"  [config]="{backdrop:'static'}" (onHidden)="onHidden()">

    <div *ngIf="mobileNumberFormFields" class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" (click)="onCancel()"><span>&times;</span></button>
                <h5 class="modal-title" i18n="@@forget-password_header">إسترجاع معلومات الدخول</h5>
            </div>

            <form #mobileNumberForm="ngForm" class="form-horizontal mobile-number-form" [hidden]="currentStep !== formSteps.FILL_MOBILE">
                <div class="modal-body compact" [loading-mask-directive]="requestSubscription">
                    <div class="form-group form-label alert alert-info">
                        <div i18n="@@forget-password_mobileNumberMessage">الرجاء إختيار الدولة وتعبئة رقم الجوال لإستعادة معلومات الدخول.</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-3 control-label" i18n="@@forget-password_mobile">رقم الجوال</label>

                        <div class="col-sm-5 col-xs-5">
                            <select class="form-control" name="countryCode" [(ngModel)]="mobileNumberFormFields.countryCode" requiredInputValidator>
                                <option *ngFor="let country of getCountries()" value="{{country.code}}">{{getCountryDropdownName(country)}}</option>
                            </select>
                        </div>

                        <div class="col-sm-4 col-xs-4 mobile-number">
                            <input type="text" class="form-control" name="mobile" placeholder="الجوال" i18n-placeholder="@@forget-password_mobile" [(ngModel)]="mobileNumberFormFields.mobile" (input)="onInputMobile()"
                                   leading-zero-trimmer manualErrorValidator phoneNumberValidator requiredInputValidator integerValueValidator [countryCode]="mobileNumberFormFields.countryCode" [mobileExistValid]="!mobileNotExist" mobileExistValidator />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div  class="col-sm-5 col-xs-5">
                            <recaptcha (recaptchaResponse)="onRecaptchaResponse($event)"
                                       (recaptchaSuccess)="onRecaptchaSuccess($event)" [resetRecaptcha]="resetRecaptcha"></recaptcha>
                            <div *ngIf="isRecaptchaSuccess === false" class="alert alert-danger tickerchart-validation-error-message" i18n="@@signup_requiredField" >الحقل مطلوب</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>

                        <div class="btns col-sm-9">
                            <button type="button" class="btn btn-success" (click)="onClickRetrieveByMobile()" i18n="@@forget-password_apply">موافق</button>
                            <a class="btn btn-default" (click)="onCancel()" i18n="@@forget-password_cancel">الغاء</a>
                        </div>
                    </div>
                </div>
            </form>

            <form #verificationsForm="ngForm" class="form-horizontal mobile-verification-form" [hidden]="currentStep !== formSteps.VERIFY_MOBILE">
                <div class="modal-body compact" [loading-mask-directive]="requestSubscription">
                    <div class="form-group form-label alert alert-info">
                        <div i18n="@@forget-password_mobileVerificationMessage">تم إرسال رسالة نصية إلى جوالك تحتوي على رمز التفعيل يرجى كتابة الرمز بالأسفل ثم إستمرار.</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-xs-3 control-label" i18n="@@forget-password_mobileVerificationCode">رمز التفعيل</label>
                        <div class="col-sm-7 col-xs-9">
                            <input type="text" class="form-control" name="verification-code" [(ngModel)]="verificationCode" i18n-placeholder="@@forget-password_mobileVerificationCode" placeholder="رمز التفعيل" requiredInputValidator (change)="resetMobileVerificationError()" [manualError]="mobileVerificationError" manualErrorValidator/>
                        </div>
                    </div>

                    <div *ngIf="resendVerificationCode" class="form-group">
                        <label class="col-sm-3 col-xs-1"></label>
                        <div class="col-sm-9 col-xs-12 resend-code"><a (click)="onResendVerificationCode()" class="bold-font" i18n="@@forget-password_mobileVerificationCodeResend">لم يصلك رمز التفعيل؟ إضغط هنا لإرساله مرة أخرى.</a></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>

                        <div class="btns col-sm-9">
                            <button type="button" class="btn btn-primary" (click)="onSubmitVerificationCode()" i18n="@@forget-password_continue">إستمرار</button>
                            <a class="btn btn-default" (click)="onCancel()" i18n="@@forget-password_cancel">الغاء</a>
                        </div>
                    </div>
                </div>
            </form>

            <form #changePasswordForm="ngForm" class="form-horizontal change-password-form" [hidden]="currentStep !== formSteps.CHANGE_PASSWORD">
                <div class="modal-body compact" [loading-mask-directive]="requestSubscription">
                    <div class="form-group form-label alert alert-info">
                        <div i18n="@@forget-password_passwordMinLength">**يجب أن تتكون كلمة السر من خمس خانات على الأقل.</div>
                        <div i18n="@@forget-password_passwordAlphanumeric">**يجب أن تتكون كلمة السر من أحرف إنجليزية وأرقام فقط.</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4 control-label" i18n="@@forget-password_password">كلمة السر الجديدة</label>

                        <div class="col-sm-9 col-xs-8">
                            <password-field-wrapper>
                                <input [(ngModel)]="changePasswordFormFields.password" class="form-control" type="password" name="password" placeholder="كلمة السر الجديدة" i18n-placeholder="@@forget-password_password" [minLength]="'5'" alphanumericValidator minLengthValidator requiredInputValidator/>
                            </password-field-wrapper>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4 control-label" i18n="@@forget-password_passwordConfirmation">تأكيد كلمة السر</label>
                        <div class="col-sm-9 col-xs-8">
                            <password-field-wrapper>
                                <input [(ngModel)]="changePasswordFormFields.passwordConfirmation" class="form-control" type="password" name="passwordConfirmation" placeholder="تأكيد كلمة السر" i18n-placeholder="@@forget-password_passwordConfirmation" matchTextValidator [matchingText]="changePasswordFormFields.password" requiredInputValidator />
                            </password-field-wrapper>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>

                        <div class="btns col-sm-9">
                            <button type="button" class="btn btn-success" (click)="onChangePassword()" i18n="@@forget-password_apply">موافق</button>
                            <a (click)="onCancel()" class="btn btn-default" i18n="@@forget-password_cancel">الغاء</a>
                        </div>
                    </div>

                </div>
            </form>

            <div class="password-changed" [class.hidden]="currentStep!==formSteps.SUCCESS_MESSAGE">
                <div class="modal-body">
                    <div class="success-msg">
                        <div class="success-icon"></div>
                        <div class="success-text" i18n="@@forget-password_successText">تم تغير كلمة السر بنجاح</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onPasswordChanged()" i18n="@@forget-password_close">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>
