.banner-message {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1150;
    visibility: hidden;
}

.banner-message.shown {
    visibility: visible;
}

.banner-message.closing {
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.7s linear, visibility 0s linear 0.7s;
    -webkit-transition: opacity 0.7s linear, visibility 0s linear;
    -webkit-transition-delay: 0s, 0.7s;
    -o-transition: opacity 0.7s linear, visibility 0s linear 0.7s;
    transition: opacity 0.7s linear, visibility 0s linear 0.7s;
}

.banner-message .banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.banner-message .body {
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.mobile .banner-message .body {
    max-width: 95%;
    max-height: 95%;
}

.banner-message.shown .body {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 2s;
    animation-name: zoom;
    animation-duration: 2s;
}

.banner-message .image-anchor {
    display: block;
    height: 90%;
}

.banner-message .banner-image {
    max-width: 900px;
    max-height: 503px;
    margin: auto;
}

.mobile .banner-message .banner-image {
    max-width: 100%;
    max-height: 100%;
}


.banner-message .action-button {
    margin-top: 10px;
}

.banner-message .close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.banner-message .close-btn:hover,
.banner-message .close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Firefox < 16 */
@-moz-keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

/* Internet Explorer */
@-ms-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

/* Opera < 12.1 */
@-o-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
