/* modal */

.market-alerts-properties .modal-dialog {
    max-width: 600px;
}

.market-alerts-properties .modal-dialog .modal-body {
    display: flex;
    height: 510px;
}

/* alert-properties-container */

.market-alerts-properties .alert-properties-container {
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    margin-right: 10px;
    flex-grow: 1;
    height: 100%;
    padding: 0px 10px;
    background-color:#e0e0e0;
    display: flex;
    justify-content: center;   
}

/* alert-picker-container */

.market-alerts-properties .alert-properties-container .alert-picker-container {
    display: flex;
}

.market-alerts-properties .alert-properties-container .alert-picker-container .container-label {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* alert-picker-container restore-btn */

.market-alerts-properties .alert-properties-container .alert-picker-container .restore-btn {
    text-align: left;
    margin-top: 20px;
}

/* alert-picker-container > arrows-container */

.market-alerts-properties .alert-properties-container .alert-picker-container .arrows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    height: 370px;
    margin-top: 30px;
}

.market-alerts-properties .alert-properties-container .alert-picker-container .arrows-container > div {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-color: transparent;
    border-radius: 5px;
}

.market-alerts-properties .alert-properties-container .alert-picker-container .arrows-container > div:hover {
    background-color: white;
    border: 1px solid #8e8e8e;
}

.market-alerts-properties .alert-properties-container .alert-picker-container .arrows-container > div:before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.market-alerts-properties .alert-properties-container .alert-picker-container .arrows-container .to-left-arrow:before {
    background-image: url('~img/watchlist-left.png');
}

.market-alerts-properties .alert-properties-container .alert-picker-container .arrows-container .to-right-arrow:before {
    background-image: url('~img/watchlist-right.png');
}


/* image-btn */

.market-alerts-properties .image-btn {
    padding-right: 30px;
    text-align:right;
    width: 100px;
    cursor:pointer;
    color: black;
}


.market-alerts-properties .image-btn:hover {
    color: #ff4500;
}

/* font family */

.arabic .market-alerts-properties .alert-properties-container .alert-picker-container .container-label {
    font-family: DroidArabicKufi-Bold;
}

.english .market-alerts-properties .alert-properties-container .alert-picker-container .container-label {
    font-family: Tahoma Black;
}

/* mobile css */


.mobile .market-alerts-properties .alert-properties-container .alert-picker-container .container-label {
    font-size: 1.2rem;
}

.mobile .market-alerts-properties .select-box .entry {
    font-size: 1.1rem;
}

.mobile .market-alerts-properties .modal-dialog .modal-body {
    padding: 5px;
    height: 460px;
}

.mobile.arabic .market-alerts-properties .alert-properties-container {
    margin-right: 0px;
}

.mobile .market-alerts-properties .alert-properties-container .alert-picker-container .from-container,
.mobile .market-alerts-properties .alert-properties-container .alert-picker-container .to-container{
    width: 130px;
}


/* dark theme */
.dark .market-alerts-properties .alert-properties-container {
    background-color: #555;
}
