.optional-message-box .modal-body {
    display: flex;
    align-items: center;
}

.arabic .optional-message-box .modal-body {
    text-align: right;
}

.english .optional-message-box .modal-body {
    text-align: left;
}


.optional-message-box .modal-body .message-line {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* message icon */
.optional-message-box .modal-body .message-icon {
    min-width: 66px;
    height: 64px;
    margin-bottom: 50px;
}

.arabic .optional-message-box .modal-body .message-icon {
    margin-left: 30px;
}

.english .optional-message-box .modal-body .message-icon {
    margin-right: 30px;
}

.optional-message-box .modal-body .message-icon.confirmation:before {
    background-image: url('~img/success_photo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    content: "";
    display: inline-block;
}

/* checkbox line */

.optional-message-box .modal-body .message-line label {
    font-weight: normal;
    display: flex;
    align-items:center;
    font-size: 1.4rem;
}


.optional-message-box .modal-body .message-line label input {
    width: 20px;
    height: 20px;
    margin: 0;
}

.arabic .optional-message-box .modal-body .message-line label input {
    margin-left: 10px;
}

.english .optional-message-box .modal-body .message-line label input {
    margin-right: 10px;
}

/* btns */

.optional-message-box .modal-body .modal-btns .btn {
    width: 100px;
    margin: 10px;
}

/* font family */

.arabic .optional-message-box .modal-body .message-line:first-child {
    font-family: DroidArabicKufi-Bold;
}

.english .optional-message-box .modal-body .message-line:first-child {
    font-family: Tahoma Black;
}
