<watchlist-properties></watchlist-properties>
<follow-predefined-watchlists></follow-predefined-watchlists>
<new-watchlist></new-watchlist>
<selection></selection>
<page-title></page-title>
<alert></alert>
<alert-notification></alert-notification>
<alert-center></alert-center>
<grid-column-properties></grid-column-properties>
<news-details></news-details>
<settings-menu></settings-menu>
<support-info></support-info>
<contact-us></contact-us>
<optional-message-box></optional-message-box>
<my-drawings></my-drawings>
<filter-properties></filter-properties>
<new-filter></new-filter>
<market-alerts-properties></market-alerts-properties>
<technical-scope-properties></technical-scope-properties>
<broker-selector></broker-selector>
<drawing-settings-dialog></drawing-settings-dialog>
<fibonacci-drawing-settings-dialog></fibonacci-drawing-settings-dialog>
<indicator-settings-dialog></indicator-settings-dialog>
<signup></signup>
<signin></signin>
<signin-or-signup></signin-or-signup>
<forget-password></forget-password>
<switch-language-confirmation></switch-language-confirmation>
<indicator-selection></indicator-selection>
<drawings-toolbar></drawings-toolbar>
<ichimoku-cloud-settings-dialog></ichimoku-cloud-settings-dialog>
<chart-screenshot></chart-screenshot>
<chart-elements-container></chart-elements-container>
<publish-idea></publish-idea>
<publisher-profile></publisher-profile>
<chart-signature-dialog></chart-signature-dialog>
<add-signature></add-signature>
<chart-settings></chart-settings>
<community-windows></community-windows>
<add-interval></add-interval>
<unsupported-alert-message></unsupported-alert-message>
<mobile-more-pages></mobile-more-pages>
<search-company></search-company>
<annotation-delayed-modal></annotation-delayed-modal>

<!--Derayah-->
<div *ngIf="connectedToDerayah">
    <derayah-login></derayah-login>
    <derayah-buy-sell-modal></derayah-buy-sell-modal>
    <derayah-buy-sell-confirmation></derayah-buy-sell-confirmation>
    <derayah-order-details></derayah-order-details>
    <derayah-quantity-calculator></derayah-quantity-calculator>
    <derayah-error></derayah-error>
</div>

<!--Snbcapital-->
<div *ngIf="showSnbcapital">
  <snbcapital-login></snbcapital-login>
  <snbcapital-buy-sell></snbcapital-buy-sell>
  <snbcapital-order-details></snbcapital-order-details>
  <snbcapital-quantity-calculator></snbcapital-quantity-calculator>
  <snbcapital-error></snbcapital-error>
  <snbcapital-settings></snbcapital-settings>
  <snbcapital-transfer-money></snbcapital-transfer-money>
</div>

<!--Riyadcapital-->
<div *ngIf="connectedToRiyadcapital">
  <riyadcapital-login></riyadcapital-login>
  <riyadcapital-buy-sell></riyadcapital-buy-sell>
  <riyadcapital-order-details></riyadcapital-order-details>
  <riyadcapital-quantity-calculator></riyadcapital-quantity-calculator>
  <riyadcapital-error></riyadcapital-error>
  <riyadcapital-settings></riyadcapital-settings>
</div>
<!--Alinmainvest-->
<div *ngIf="connectedToAlinmainvest">
  <alinmainvest-login></alinmainvest-login>
  <alinmainvest-buy-sell></alinmainvest-buy-sell>
  <alinmainvest-order-details></alinmainvest-order-details>
  <alinmainvest-quantity-calculator></alinmainvest-quantity-calculator>
  <alinmainvest-error></alinmainvest-error>
  <alinmainvest-settings></alinmainvest-settings>
</div>

<!--Aljaziracapital-->
<div *ngIf="connectedToAljaziracapital">
    <aljaziracapital-login></aljaziracapital-login>
    <aljaziracapital-buy-sell></aljaziracapital-buy-sell>
    <aljaziracapital-order-details></aljaziracapital-order-details>
    <aljaziracapital-quantity-calculator></aljaziracapital-quantity-calculator>
    <aljaziracapital-error></aljaziracapital-error>
    <aljaziracapital-settings></aljaziracapital-settings>
    <aljaziracapital-deleted-orders-status></aljaziracapital-deleted-orders-status>
    <aljaziracapital-transfer-money></aljaziracapital-transfer-money>
</div>

<div *ngIf="connectedToAlrajhicapital">
    <alrajhicapital-login></alrajhicapital-login>
    <alrajhicapital-terms-and-conditions></alrajhicapital-terms-and-conditions>
    <alrajhicapital-buy-sell></alrajhicapital-buy-sell>
    <alrajhicapital-buy-sell-confirmation></alrajhicapital-buy-sell-confirmation>
    <alrajhicapital-order-details></alrajhicapital-order-details>
    <alrajhicapital-quantity-calculator></alrajhicapital-quantity-calculator>
    <alrajhicapital-error></alrajhicapital-error>
    <alrajhicapital-settings></alrajhicapital-settings>
    <alrajhicapital-transfer-money></alrajhicapital-transfer-money>
</div>

<!--Virtual trading-->
<div *ngIf="connectedToVirtualTrading">
  <vt-create-account></vt-create-account>
  <vt-buy-sell></vt-buy-sell>
  <virtual-trading-order-details></virtual-trading-order-details>
  <vt-manual-portfolio-control></vt-manual-portfolio-control>
  <vt-settings></vt-settings>
  <vt-transactions></vt-transactions>
</div>

<!--Tradestation trading-->
<div *ngIf="connectedToTradestation">
    <tradestation-login></tradestation-login>
    <tradestation-transactions></tradestation-transactions>
    <tradestation-buy-sell></tradestation-buy-sell>
    <tradestation-message></tradestation-message>
    <tradestation-order-details></tradestation-order-details>
    <tradestation-confirmation-message></tradestation-confirmation-message>
    <tradestation-settings></tradestation-settings>
</div>

<!--Musharaka-->
<div *ngIf="connectedToMusharaka">
    <musharaka-login></musharaka-login>
    <musharaka-buy-sell></musharaka-buy-sell>
    <musharaka-order-details></musharaka-order-details>
    <musharaka-error></musharaka-error>
    <musharaka-settings></musharaka-settings>
</div>

<!--Bsf-->
<div *ngIf="connectedToBsf">
    <bsf-login></bsf-login>
    <bsf-buy-sell></bsf-buy-sell>
    <bsf-order-details></bsf-order-details>
    <bsf-error></bsf-error>
    <bsf-settings></bsf-settings>
</div>

<!--Alkhabeercapital-->
<div *ngIf="connectedToAlkhabeercapital">
    <alkhabeercapital-login></alkhabeercapital-login>
    <alkhabeercapital-buy-sell></alkhabeercapital-buy-sell>
    <alkhabeercapital-order-details></alkhabeercapital-order-details>
    <alkhabeercapital-error></alkhabeercapital-error>
    <alkhabeercapital-settings></alkhabeercapital-settings>
</div>

<!-- Ehab make those at the end so any message appear above the other modals -->
<upgrade-message></upgrade-message>
<banner-message></banner-message>
<loader-message></loader-message>

<!-- Ehab make those at the end so any message appear above the other modals -->
<inactive-tab></inactive-tab>

<!-- Ehab make those at the end so any message appear above the other modals -->
<workspace-select></workspace-select>

<!-- Ehab make those at the end so any message appear above the other modals -->
<confirmation></confirmation>

<!-- Ehab Message Box component always last one -->
<message-box></message-box>
