<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.buildLanguage %>" style="height: 100%;">
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="apple-touch-icon" href="/touch-icon-iphone.png">-->
    <title>Angular Upgrade</title>

</head>
<body style="height:100%; margin:0;">
<script src=<%= JSON.stringify(htmlWebpackPlugin.options.scriptBundleUrl) %>></script>

<app-index></app-index>
</body>
</html>
