/* You can add global styles to this file, and also import other style files */
//@import "~tc-web-chart-lib/static-libraries/vendor/chart/css/cdn/bootstrap/bootstrap.min.css";
//@import "~tc-web-chart-lib/lib/stock-chart/css/StockChartX.scss";
//@import "~tc-web-chart-lib/lib/stock-chart/css/StockChartX.UI.scss";
