<div bsModal #confirmationModal="bs-modal" class="modal fade confirmation" tabindex="-1" role="dialog" [config]="{backdrop:'static'}">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" i18n="@@confirmation_header">تنبيه</h4>
      </div>

      <div class="modal-body">

        <div class="confirmation-message">{{messageLine}}</div>
        <div *ngIf="messageLine2" class="confirmation-message">{{messageLine2}}</div>
        <div *ngIf="messageLine3" class="confirmation-message">{{messageLine3}}</div>

        <div class="confirmation-btns">
          <button class="btn btn-success" (click)="onSelection(true)" i18n="@@confirmation_yes">نعم</button>
          <button class="btn btn-danger" (click)="onSelection(false)" i18n="@@confirmation_no">لا</button>
        </div>

      </div>
    </div>
  </div>
</div>
