.confirmation .modal-body .confirmation-message {
    font-size: 1.6rem;
    margin-top: 15px;
    margin-bottom: 15px;
}


.confirmation .modal-body .confirmation-btns .btn {
    width: 100px;
    margin: 10px;
}

