.annotation-delayed-tooltip.tooltip-container {
    display: inline-block;
    position: absolute;
    background-color: #dbdbdb;
    color: #000;
    z-index: 1000;
    cursor: auto;
    margin-top: 15px;
    line-height: normal;
}

.annotation-delayed-tooltip.chart-tooltip {
    top: 73px;
    right: 98px;
}

.english .annotation-delayed-tooltip.chart-tooltip {
    right: 50px;
}

.annotation-delayed-tooltip.chart-tooltip .annotation-delayed .annotation-header ,
.dropdown-menu.annotation-delayed-tooltip .annotation-delayed .annotation-header {
    flex-direction: row-reverse;
}

.english .annotation-delayed-tooltip.chart-tooltip .annotation-delayed .annotation-header,
.english .dropdown-menu.annotation-delayed-tooltip .annotation-delayed .annotation-header {
    flex-direction: row;
}

.annotation-delayed-tooltip.chart-tooltip .annotation-delayed .annotation-delayed-icon{
    width: 53px;
}

.tooltip.annotation-delayed-tooltip ,
.annotation-delayed-tooltip {
    width: 400px;
    padding: 0;
    border: 1px solid #9c9c9c;
}

.mobile .annotation-delayed-tooltip {
    width: 250px;
}

.tooltip-inner.annotation-delayed-tooltip-inner {
    background-color: #dbdbdb;
    color: #000;
}

.tooltip .tooltip-inner .annotation-delayed .annotation-header,
.annotation-delayed-tooltip .annotation-delayed .annotation-header {
    display: flex;
}

.tooltip .tooltip-inner .annotation-delayed .annotation-header .annotation-delayed-title,
.annotation-delayed-tooltip .annotation-delayed .annotation-header .annotation-delayed-title {
    color: #db8714;
}

.tooltip .tooltip-inner .annotation-delayed a,
.annotation-delayed-tooltip .annotation-delayed a {
    color: #4169ae;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}

.tooltip .tooltip-inner .annotation-delayed a:focus,
.annotation-delayed-tooltip .annotation-delayed a:focus {
    text-decoration: none;
}

.tooltip .tooltip-inner .annotation-delayed,
.annotation-delayed-tooltip .annotation-delayed {
    font-size: 1.2rem;
    padding: 15px 10px 10px;
}

.mobile .tooltip .tooltip-inner .annotation-delayed,
.mobile .annotation-delayed-tooltip .annotation-delayed {
    font-size: 1.3rem;
    padding: 10px;
}

.tooltip .tooltip-inner .annotation-delayed .annotation-delayed-header,
.annotation-delayed-tooltip .annotation-delayed .annotation-delayed-header {
    margin-bottom: 15px ;
    display: flex;
    padding-top: 10px;
}

.tooltip .tooltip-inner .annotation-delayed .annotation-delayed-info,
.annotation-delayed-tooltip .annotation-delayed .annotation-delayed-info{
    margin-right: 15px;
    font-family: DroidSansArabic;
    text-align: right;
}

.english .tooltip .tooltip-inner .annotation-delayed .annotation-delayed-info,
.english .annotation-delayed-tooltip .annotation-delayed .annotation-delayed-info {
    text-align: left;
    font-family: inherit;
    margin-right: 0;
    margin-left: 15px;
}

.tooltip .tooltip-inner .annotation-delayed .annotation-delayed-text,
.annotation-delayed-tooltip .annotation-delayed .annotation-delayed-text {
    margin-top: 7px;
    margin-bottom: 7px;
    white-space: normal;
    direction: rtl;
}
.english .tooltip .tooltip-inner .annotation-delayed .annotation-delayed-text,
.english .annotation-delayed-tooltip .annotation-delayed .annotation-delayed-text{
    direction: ltr;
}
.tooltip .tooltip-inner .annotation-delayed .annotation-delayed-icon ,
.annotation-delayed-tooltip .annotation-delayed .annotation-delayed-icon  {
    width: 36px;
    height: 24px;
    border-radius: 6px;
    background-color: #FFF4E2;
}
.english .tooltip .tooltip-inner .annotation-delayed .annotation-delayed-icon,
.english .annotation-delayed-tooltip .annotation-delayed .annotation-delayed-icon {
    width: 44px;
    height: 23px
}
.mobile .tooltip .tooltip-inner .annotation-delayed .annotation-delayed-icon,
.mobile .annotation-delayed-tooltip .annotation-delayed .annotation-delayed-icon {
    width: 60px;
    height: 28px;
}

 .annotation-delayed-icon:before {
    content:"";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width:12px;
    height:12px;
    background-image: url('~img/delayed-annotation.png');
    filter: none;
}

.annotation-delayed-tooltip .annotation-delayed-icon:before {
    width: 100%;
    height: 100%
}

.tooltip .tooltip-inner .annotation-delayed .annotation-delayed-link a,
.annotation-delayed-tooltip .annotation-delayed .annotation-delayed-link a {
    font-size: 1.2rem;
}

.mobile .tooltip.annotation-delayed-tooltip {
    width: 70%;
}
.tooltip.in.annotation-delayed-tooltip {
    opacity: 1;
}

.tooltip-inner.annotation-delayed-tooltip-inner {
    padding: 0;
}

.tooltip.annotation-delayed-tooltip .tooltip-arrow {
    display: none;
}

.dark .annotation-delayed-tooltip {
    background-color: #333;
    color: #d3d3d3;
}

.dark .tooltip .tooltip-inner .annotation-delayed a,
.dark .annotation-delayed-tooltip .annotation-delayed a {
    color: #4cb4db;

}
.dark .tooltip .tooltip-inner .annotation-delayed .annotation-delayed-icon,
.dark .annotation-delayed-tooltip .annotation-delayed .annotation-delayed-icon {
    background-color: #db871466;
}
