.flag-annotation-tooltip.custom-tooltip {
    display: inline-block;
    position: absolute;
    background-color: #dbdbdb;
    color: #000;
    z-index: 1000;
    cursor: auto;
    margin-top: 15px;
}

.dark .flag-annotation-tooltip.custom-tooltip {
    color: #fff;
    background-color: #444444;
}

.flag-annotation-tooltip {
    width: 350px;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #9c9c9c;
}

.flag-annotation-tooltip .flag-annotation-text {
    margin-bottom: 5px;
}

.flag-annotation-tooltip .flag-annotation-btn {
    color: #428bca;
    cursor: pointer !important;
}

.flag-annotation-tooltip .flag-annotation-btn {
    color: #428bca;
    cursor: pointer;
}

.flag-annotation-tooltip .flag-annotation-btn:hover {
    color: #3071a9;
}
