@font-face {
    font-family: 'DroidSansArabic';
    src: url('~font/DroidSansArabic.woff'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'DroidArabicKufi-Bold';
    src: url('~font/DroidArabicKufi-Bold.eot'); /* IE9 Compat Modes */
    src: url('~font/DroidArabicKufi-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~font/DroidArabicKufi-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('~font/DroidArabicKufi-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}



