html {
    font-size: 10px;
}

body {
    overflow:hidden;
    font-size: 1.4rem;
}

body.mobile {
    font-size: 1.2rem;
}

.app {
    text-align:center;
    height: 100%;
}

.ltr {
    direction:ltr;
}

select {
    background-color: white;
}

/* http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
div, span {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */

}
/* MA caused issues with cursors used for resizing in docking component */
/* div:hover, span:hover { */
/*     cursor: default; */
/* } */

/* number input with custom arrows */

.arabic .app input[type=number] {
    padding-left: 3px;
}

.english .app input[type=number] {
    padding-right: 3px;
}

.app input.no-arrows[type=number]::-webkit-inner-spin-button, .app input.no-arrows[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

/* due to boostrap, firefox select arrow looks crap, so this is a fix for it */
@-moz-document url-prefix() {
    .app select{
        -moz-appearance: none;
        border: 1px solid #bbb;
        background: #fff url('~img/select-arrow.png') no-repeat 1% center;
        border-radius: 3px;
    }

    .app select,
    .app select:focus,
    .app select:hover,
    .app select:active{
        outline: none;
    }
}

/*hide accessibility divs that are auto-generated by jQuery UI*/
/*https://stackoverflow.com/questions/13011127/how-to-remove-change-jquery-ui-autocomplete-helper-text*/
.ui-helper-hidden-accessible { display:none; }

.draggable-handle {
    cursor: move;
}

/***************/
/*font settings*/
/***************/

.arabic .app .english,
.english .app .english {
    font-family:Arial;
    font-weight: bold;
}

/* MA next class is added if we want to add english font but not having it bold */
.arabic .app .english-text,
.english .app .english-text {
    font-family:Arial;
}

.arabic .app,
.arabic .tooltip,
.arabic .app .slick-cell.name,
.arabic .app .slick-cell .name  {
    font-family: DroidSansArabic;
}

.english .app,
.english .tooltip,
.english .app .slick-cell.name,
.english .app .slick-cell .name  {
    font-family: Arial;
}

/* reset css for ui-widget in jquery-ui */
.app .ui-widget,
.app .ui-widget input,
.app .ui-widget select,
.app .ui-widget textarea,
.app .ui-widget button{
    font-family: inherit;
}


/* for nav-tabs (as in tabs in drawing settings), on hover turn the cursor to pointer */
.nav-tabs>li>a:hover {
    cursor: pointer;
}

/* hide blue outline border for boot-strap select button (important needed because it is added in library) */
.app .bootstrap-select .btn:focus {
    outline:0 !important;
}


/* dark theme */

/* nav-tabs */
.dark .nav-tabs>li.active>a,
.dark .nav-tabs>li.active>a:hover,
.dark .nav-tabs>li.active>a:focus {
    background-color: #333;
    color: white;
    border: 1px solid #666;
    border-bottom-color: transparent;
}

.dark .nav-tabs>li>a:hover {
    background-color: #444;
    border-color: #666;
}

.dark .nav-tabs {
    border-bottom: 1px solid #666;
}


/* loading-mask */
.dark .loading-mask > * {
    filter: grayscale(1);
}

.dark .loading-mask-backdrop {
    background: #000;
    opacity: .75;
}

/* bootstrap-datetimepicker-widget */
.dark .bootstrap-datetimepicker-widget table td.day:hover,
.dark .bootstrap-datetimepicker-widget table td.hour:hover,
.dark .bootstrap-datetimepicker-widget table td.minute:hover,
.dark .bootstrap-datetimepicker-widget table td.second:hover,
.dark .bootstrap-datetimepicker-widget table td span:hover,
.dark .bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.dark .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    background-color: #222;
    color: cyan;
}

.dark .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-bottom-color: #444;
    background-color: transparent;
}

/* bootstrap-select */
.dark .bootstrap-select.btn-group .dropdown-menu li:hover {
    background-color: #222;
}

.dark .bootstrap-select.btn-group .dropdown-menu li.selected,
.dark .bootstrap-select.btn-group .dropdown-menu li.selected:hover {
    background-color: royalblue;
}

.dark .bootstrap-select.btn-group .btn {
    background-color: #333;
}

body.dark {
    background-color: #000;
}

.dark *:before {
    filter: invert(100%);
}

.dark select {
    background-color: #333;
    color: white;
}

.dark label {
    font-weight: normal;
    /*color: white;*/
}

.dark .close {
    color: white;
    text-shadow: none;
}

.dark .close:hover,
.dark .close:focus {
    color: #bbb;
}

.dark input, .dark textarea {
    background-color: #333;
    color: white;
    border-color: #666;
}

.dark .modal-backdrop.in {
    opacity: 0.75;
}

.dark .has-error .help-block,
.dark .has-error .control-label,
.dark .has-error .radio,
.dark .has-error .checkbox,
.dark .has-error .radio-inline,
.dark .has-error .checkbox-inline,
.dark .app form .tickerchart-validation-error-message {
    color: tomato;
}

.dark ::-webkit-scrollbar {
    width: 17px;
    background-color: #313131;
}

.mobile.dark ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.dark ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #717171;
    border: 2px solid #313131;
}

.dark ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #313131;
}

.dark ::-webkit-scrollbar-corner,
.dark ::-webkit-resizer,
.dark ::-webkit-scrollbar-button,
.dark ::-webkit-scrollbar {
    background-color: #313131;
    color: transparent;
}

.dark .table-bordered>thead>tr>th,
.dark .table-bordered>tbody>tr>th,
.dark .table-bordered>tfoot>tr>th,
.dark .table-bordered>thead>tr>td,
.dark .table-bordered>tbody>tr>td,
.dark .table-bordered>tfoot>tr>td {
    border-color: #666;
}

.dark .table>thead>tr>td.success,
.dark .table>tbody>tr>td.success,
.dark .table>tfoot>tr>td.success,
.dark .table>thead>tr>th.success,
.dark .table>tbody>tr>th.success,
.dark .table>tfoot>tr>th.success,
.dark .table>thead>tr.success>td,
.dark .table>tbody>tr.success>td,
.dark .table>tfoot>tr.success>td,
.dark .table>thead>tr.success>th,
.dark .table>tbody>tr.success>th,
.dark .table>tfoot>tr.success>th {
    background-color: #274a19;
}

.dark .table>thead>tr>td.danger,
.dark .table>tbody>tr>td.danger,
.dark .table>tfoot>tr>td.danger,
.dark .table>thead>tr>th.danger,
.dark .table>tbody>tr>th.danger,
.dark .table>tfoot>tr>th.danger,
.dark .table>thead>tr.danger>td,
.dark .table>tbody>tr.danger>td,
.dark .table>tfoot>tr.danger>td,
.dark .table>thead>tr.danger>th,
.dark .table>tbody>tr.danger>th,
.dark .table>tfoot>tr.danger>th {
    background-color: #351111;
}

.dark .table>thead>tr>th,
.dark .table>tbody>tr>th,
.dark .table>tfoot>tr>th,
.dark .table>thead>tr>td,
.dark .table>tbody>tr>td,
.dark .table>tfoot>tr>td {
    border-color: #666;
}

/* link color */
.dark a {
    color: deepskyblue;
}

.dark a:hover {
    color: #66cfff;
}

/* Buttons */
.dark ::-webkit-scrollbar-button:single-button {
    background-color: #313131;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}
/* Up */
.dark ::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: url('~img/scrollbar-arrows/up.png') no-repeat center;
}

.dark ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background: url('~img/scrollbar-arrows/up-hover.png') no-repeat center;
}
/* Down */
.dark ::-webkit-scrollbar-button:single-button:vertical:increment {
    background: url('~img/scrollbar-arrows/down.png') no-repeat center;
}

.dark ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background: url('~img/scrollbar-arrows/down-hover.png') no-repeat center;
}

/* Left */
.dark ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background: url('~img/scrollbar-arrows/left.png') no-repeat center;
}

.dark ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background: url('~img/scrollbar-arrows/left-hover.png') no-repeat center;
}

/* Right */
.dark ::-webkit-scrollbar-button:single-button:horizontal:increment {
    background: url('~img/scrollbar-arrows/right.png') no-repeat center;
}

.dark ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background: url('~img/scrollbar-arrows/right-hover.png') no-repeat center;
}

.unauthorized-lock-icon:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-repeat: no-repeat;
    background-image: url('~img/chart-technical-drawings-Lock-active.png');
}

.dark .unauthorized-lock-icon:before {
    filter: none;
}


/* color picker */
.dark .sp-container {
    background-color: #444;
    border-color: #666;
}

.dark .sp-palette-container {
    border-right-color: #444;
}

.dark .sp-picker-container {
    border-left-color: #666;
}


/* toggle-switch */

.dark .toggle-switch .slider {
    background-color: #666;
}

.dark .toggle-switch .slider:before {
    filter: none;
}
