.arabic .app .slick-grid{
    direction: rtl;
}

.english .app .slick-grid{
    direction: ltr;
}

.app .slick-header-column.ui-state-default {
    height: 25px;
}
.app .ui-state-default.slick-header-column.ui-state-hover.ui-sortable-helper {
    height: 25px !important;
    right: auto;
}

.app .slick-column-name {
    font-size: 1.3rem;
    color:black;
}

.app .slick-cell.annotation-delayed >.annotation-delayed-icon {
    width: 26px;
    height: 16px;
}

.mobile .app .slick-column-name {
    font-size: 1rem;
    font-family: DroidArabicKufi-Bold;
}

.app .slick-header-column-sorted .slick-column-name {
    width: 80%;
    display: inline-block;
    overflow: hidden;
}

.app .slick-header-column-sorted {
    font-style:normal;
}

.arabic .app .slick-sort-indicator {
    left: 0px;
    position: absolute;
}

.english .app .slick-sort-indicator {
    right: 0px;
    position: absolute;
}

@-moz-document url-prefix() {
    .app .slick-sort-indicator {
        margin-top: -11px;
    }
}

.app .slick-cell {
    font-family:Arial;
    font-weight: bold;
    font-size: 1.3rem;
    text-overflow: clip;
}

.app .slick-header-column.ui-state-default {
    text-overflow: clip;
}

.mobile .app .slick-header-column.ui-state-default {
    padding: 4px 2px;
}

.app .slick-row.odd {
    background: #e8e8e8;
}

.app .slick-cell,
.app .slick-headerrow-column {
    border-right: 1px solid silver;
}

.arabic .app .slick-cell,
.arabic .app .slick-headerrow-column {
    border-left: 1px solid silver;
    border-right: 0;
}

.english .app .slick-cell,
.english .app .slick-headerrow-column {
    border-right: 1px solid silver;
    border-left: 0;
}

.arabic .app .slick-header-column.ui-state-default {
    border-left: 1px solid silver;
    border-right: 0;
}

.english .app .slick-header-column.ui-state-default {
    border-right: 1px solid silver;
    border-left: 0;
}

.arabic .app .slick-header.ui-state-default,
.arabic .app .slick-headerrow.ui-state-default {
    border-left: auto; 
    border-right: 0;
}

.english .app .slick-header.ui-state-default,
.english .app .slick-headerrow.ui-state-default {
    border-right: auto;
    border-left: 0;
}


.app .slick-header-column.ui-state-default {
    background: linear-gradient(white, #fff7ea);
}

.app .slick-header-columns {
    border-bottom: 0px;
}

.app .slick-cell.flashing-up {
    background-color: #6df46d !important;
}
.app .slick-cell.flashing-down {
    background-color: #f46f6f !important;
}

.app .slick-cell.selected {
    background-color: #fff6cd !important;
}

.app .slick-cell.direction > .direction-icon {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    margin-top: 3px;
}

.app .slick-cell.direction > .direction-icon.equal {
    background-image: url('~img/marektwatch-equals.png');
}

.app .slick-cell.direction > .direction-icon.up {
    background-image: url('~img/marketwatch-up-arrow.png');
}

.app .slick-cell.direction > .direction-icon.down {
    background-image: url('~img/marketwatch-down-arrow.png');
}

.app .slick-cell > .negative {
    color: #af0040;
}

.app .slick-cell > .positive {
    color: #008c4a;
}

.app .slick-row.even .slick-cell.highlight-column {
    background: #e5e5f8;
}
.app .slick-row.odd .slick-cell.highlight-column {
    background: #c8c8f2;
}

.app .slick-row.even .slick-cell.green-column {
    background: #e1f8e1;
}
.app .slick-row.odd .slick-cell.green-column {
    background: #c8dac8;
}

.app .slick-row.even .slick-cell.red-column {
    background: #ffe5e5;
}
.app .slick-row.odd .slick-cell.red-column {
    background: #f2cdcd;
}


.app .slick-grid .slick-header-column.ui-state-default.slick-sortable-placeholder {
    background: #ffee88;
}

/* dark theme */

.dark .app .slick-row {
    background: black;
    color: #ccc;
}

.dark .app .slick-row.odd {
    background: #171717;
}

.dark.arabic .app .slick-header-column.ui-state-default,
.dark.english .app .slick-header-column.ui-state-default {
    background: linear-gradient(#444, #333);
    border-color: #333;
}

.dark .app .slick-column-name {
    color: #bbb;
}

.dark .app .slick-row.even .slick-cell.highlight-column {
    background: #040d15;
}

.dark .app .slick-row.odd .slick-cell.highlight-column {
    background: #161f28;
}

.dark.arabic .app .slick-cell, .dark.arabic .app .slick-headerrow-column,
.dark.english .app .slick-cell, .dark.english .app .slick-headerrow-column {
    border-color: #333;
    border-top: 0px;
}

.dark .app .slick-header.ui-state-default, .dark .app .slick-headerrow.ui-state-default {
    border-color: #333;
}

.dark .app .slick-cell.selected {
    background-color: #3f4008 !important;
    border-bottom-color: #8f9058;
    border-top: 1px solid #8f9058;
}

.dark .app .slick-cell.direction > .direction-icon.up {
    filter: brightness(1.3);
}

.dark .app .slick-cell.direction > .direction-icon.down {
    filter: brightness(2);
}

.dark .app .slick-cell.direction > .direction-icon.equal {
    filter: brightness(4);
}

.dark .app .slick-cell > .negative {
    color: red;
}

.dark .app .slick-cell > .positive {
    color: #00ff00;
}

.dark .app .slick-row.even .slick-cell.green-column {
    background: #000d00;
}

.dark .app .slick-row.odd .slick-cell.green-column {
    background: #142114;
}

.dark .app .slick-row.even .slick-cell.red-column {
    background: #0d0000;
}

.dark .app .slick-row.odd .slick-cell.red-column {
    background: #211414;
}

.dark .slick-sort-indicator-desc,
.dark .slick-sort-indicator-asc
{
    filter: invert(100%);
}

.dark .app .slick-cell.flashing-down {
    background-color: #430a10 !important;
}

.dark .app .slick-cell.flashing-up {
    background-color: #105c1d !important;
}

.dark .app .slick-header-columns {
    background-color: #444;
}

.dark .app .slick-grid {
    background-color: #444;
}
