
/* .modal.static */

.app .modal.fade.in.centered {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.app .modal.static {
    position: static;
}

.app .modal.static .modal-dialog {

    position: absolute;
    z-index: 1000;

    /* http://stackoverflow.com/questions/1776915/how-to-center-absolute-element-in-div */
    left: 0;
    right: 0;
    top: -30px;
    margin-left: auto;
    margin-right: auto;

    /* MA tricky! modal should not overflow its parent, or it may be outside screen (if parent on edge) */
    /* hopefully, this will cap max size of modal to be as of its parent */
    max-width:96%;
    
}

/* non-blocking modal */

.app .modal.non-blocking {
    position: relative;
    width: auto;
    /* MA this is added in order for non-blocking modals to appear on Safari browser */
    overflow: initial;
}

.app .modal.non-blocking > .modal-dialog {
    position: fixed;
    top: 0;
    margin: 0;
    width: 500px;
    height: 0;
}

.mobile .app .modal.non-blocking > .modal-dialog {
    width: 96%;
}


/* modal customization */

.app .modal .modal-header .close {
    position: absolute;
    top: 12px;
    float: none;
}

.arabic .app .modal .modal-header .close {
    left: 11px;
    right: auto;
}
.english .app .modal .modal-header .close {
    right: 11px;
    left: auto;
}


.app .modal .modal-header {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #bbb;
}

.app .modal .modal-header .modal-title {
    font-size: 1.8rem;
}

.app .modal .modal-content {
    background-color: #e8e8e8;
}

.app .modal .modal-content .modal-body {
    background-color: #f8f8f8;
}

.arabic .app .modal .modal-content .modal-body {
    direction: rtl;
}

.english .app .modal .modal-content .modal-body {
    direction: ltr;
}

.app .modal .modal-content .modal-body.round-corners {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* MA "compact" is used for tall forms, to better the space */
.app .modal .modal-content .modal-body.compact {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 6px 6px;
}

/* .modal > modal-container > btn-group */
/* MA this class should be used i button are placed within form group in modal form */
.arabic .modal .modal-body .form-group .form-btn-container button {
    margin-left: 8px;
}

.english .modal .modal-body .form-group .form-btn-container button {
    margin-right: 8px;
}


/* .modal > modal-footer */


.app .modal .modal-footer {
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid #bbb;
}

.arabic .app .modal .modal-footer {
    text-align: left;
    direction:rtl;
}

.english .app .modal .modal-footer {
    text-align: right;
    direction: ltr;
}

.app .modal .modal-footer .btn {
    width: 100px;
}

.arabic .app .modal .modal-footer .btn {
    margin-right: 10px;
}

.english .app .modal .modal-footer .btn {
    margin-left: 10px;
}

.app input.form-control {
    height: 30px;
    border: 1px solid #8e8e8e;
}

/* Font family */
.arabic .app .modal .modal-header .modal-title {
    font-family: DroidArabicKufi-Bold;
}

.english .app .modal .modal-header .modal-title {
    font-family: Tahoma Black;
}

/* close button */
.app .modal .close:hover, .app .modal .close:focus {
    opacity: 1.0;
}

/* dark theme */

.dark .app .modal .modal-content {
    background-color: #444;
    color: lightgrey;
    box-shadow: 0 5px 15px rgba(100,100,100,.5);
}

.dark .app .modal.non-blocking > .modal-dialog .modal-content {
    box-shadow: none;
    border-color: #666;
    border-width: 2px;
}

.dark .app .modal .modal-content .modal-body {
    background-color: #444;
}

.dark .app .modal .modal-header {
    border-bottom-color: #666;
}

.dark .app .modal .modal-footer {
    border-top-color: #666;
}

.dark .app .modal .modal-header .modal-title {
    color: lightgray;
}

