.app .popover {
    background-color: black;
    padding: 0px;
}

.app .popover .popover-title {
    background-color: maroon;
    text-align: center;
}

.app .popover .arrow {
    top: -10px;
}

.app .popover .arrow,
.app .popover > .arrow:after {
/* border-bottom-color: darkslateblue; */
    border-bottom-color: maroon;
}


.app .popover .popover-content {
    background-color: mistyrose;
    color: black;
    text-align: center;
    font-size: 1.3rem;
    line-height: 21px;
}

