.tooltip-inner {
    max-width: 600px;
    font-size: 1.2rem;
    padding: 8px 12px;
    line-height: 20px;
}

.arabic .tooltip-inner {
    direction: rtl;
    text-align:right;
}

.english .tooltip-inner {
    direction: ltr;
    text-align: left;
}

    /* dark theme */
.dark .tooltip-inner {
    background-color: #ccc;
    color: #000;
}

.dark .tooltip-inner.annotation-delayed-tooltip-inner {
    background-color: #333;
    color: #d3d3d3;
    border: 1px solid #717171;
}

.dark .tooltip.right .tooltip-arrow {
    border-right-color: #ccc;
}
.dark .tooltip.top .tooltip-arrow {
    border-top-color: #ccc;
}
.dark .tooltip.left .tooltip-arrow {
    border-left-color: #ccc;
}
.dark .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ccc;
}
